src/assets/templates/components/_template_base.pug
//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Base Template"

//--- HTML
//---------------------------------------------------------


doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--[endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard">
  <!--[endif]-->


       +gel_skiplink
       +global_header(false, false)  
         
       main.container.gel-main
         hr
         hr
         | Content-main
         hr
         hr

       +global_footer(3)
     
  <!-- global footer scripts include JQuery //-->
   include ../../pug/components/_global-scripts.pug 
   <!-- include any component specific scripts here //-->
   script(src='../assets/js/components/anchorBox.js' type='text/javascript')
   script(src='../assets/js/components/keyCodes.js' type='text/javascript')
   script(src='../assets/js/components/ariaToggler.js' type='text/javascript')
   script(src='../assets/js/components/classManipulator.js' type='text/javascript')
   script(src='../assets/js/components/breadCrumbs.js'  type='text/javascript')
   script(src='../assets/js/components/drawer.js'  type='text/javascript')
   script(src='../assets/js/components/scrollToggle.js' type='text/javascript')
   script(src='../assets/js/components/sideNavigation.js' type='text/javascript')
   script(src='../assets/js/components/externalLinkTagger.js' type='text/javascript')
   script(src='../assets/js/vendor/jquery-accessible-tabpanel-aria/jquery-accessible-tabs.js' type='text/javascript')
   script(src='https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.js' type='text/javascript')
   script(src='../assets/js/components/mobileMegaNav.js' type='text/javascript')
   script(src='../assets/js/components/skipForFirefox.js' type='text/javascript')
  </body>

dist/components/_template_base.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="457873e7">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=457873e7" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=457873e7" media="print">
    <title>Base Template | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head><!--[if gt IE 9 | !IE ]><!-->
<body class="standard">
<!--[endif]-->
<!--[if lte IE 9]>
<body class="gel-ie9 standard">
<!--[endif]-->
  <div class="gel-skiplink-container" id="top-mobile">
    <div class="gel-skiplink">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <ul>
              <li><a class="gel-skiplink__link" id="top-desktop" href="#content">Skip to content</a></li>
              <li><a class="gel-skiplink__link" href="#search">Skip to search</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gel-global-header-container" role="banner">
    <div class="gel-global-header gel-remove-external-link">
      <div class="container">
        <div class="row">
          <div class="col-12"><a class="gel-global-header__header" href="https://education.nsw.gov.au" title="NSW Government"><abbr title="NSW Government" aria-hidden="true">NSW Gov</abbr></a>
            <div class="global-header-right-nav row">
              <div class="gel_google_translate" id="google_translate_element">
                <script type="text/javascript">
                  function googleTranslateElementInit() {
                    if(!(/iPhone|iPad|iPod|Android|webOS|BlackBerry|Opera Mini|IEMobile/i.test(navigator.userAgent) )) {
                      new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
                    }
                  }
                </script>
                <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
              </div>
              <div class="global-header-links-right">
                <div class="gel-global-links dropdown">
                  <button class="gel-global-link-button" id="logindropdownbtn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Login Menu"><span class="global-link-button-txt" aria-hidden="false">Log in</span><span class="gel-link-icon gel-visible-small" aria-hidden="true"></span></button>
                  <ul class="gel-global-links-dropdown dropdown-menu dropdown-menu-right" aria-labelledby="logindropdownbtn">
                    <li><h4>Staff</h4>
                      <ul class="gel-link-list">
                        <li><span class="gel-link-list-icon" aria-hidden="true"></span><a class="dropdown-item" href="#" title="">Staff portal</a></li>
                        <li><span class="gel-link-list-icon" aria-hidden="true"></span><a class="dropdown-item" href="#" title="">Inside the department (staff intranet)</a></li>
                      </ul>
                    </li>
                    <li><h4>Students</h4>
                      <ul class="gel-link-list">
                        <li><span class="gel-link-list-icon" aria-hidden="true"></span><a class="dropdown-item" href="#" title="">Student portal</a></li>
                      </ul>
                    </li>
                    <li><h4>Other users</h4>
                      <ul class="gel-link-list">
                        <li><span class="gel-link-list-icon" aria-hidden="true"></span><a class="dropdown-item" href="#" title="">Extranet</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <main class="container gel-main">
    <hr>
    <hr>Content-main
    <hr>
    <hr>
  </main>
  <div class="gel-global-footer" aria-label="Global Footer">
    <h1 class="show-on-sr">NSW Government</h1>
    <div class="container gel-remove-external-link">
      <div class="row">
        <div class="col-12 col-md-4 gel-global-footer__logo">
          <div class="gel-corporate-logo"><a class="gel-corporate-logo__link" href="https://education.nsw.gov.au" title="NSW Government"><img class="gel-corporate-logo__image" src="../assets/images/doe-logo-black.png" alt="NSW Government logo"/></a></div>
        </div>
        <div class="col-12 col-md-8 gel-global-footer__links">
          <div class="gel-link-columns">
            <ul class="gel-link-list gel-link-columns__items gel-link-columns--3col gel-link-columns--condensed">
              <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">One morning, when Gregor Samsa woke.</a>
              </li>
              <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His many legs, pitifully thin compared.</a>
              </li>
              <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His room, a proper human room.</a>
              </li>
              <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">and above it there hung a.</a>
              </li>
              <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">Drops of rain could be heard.</a>
              </li>
              <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">He must have tried it a.</a>
              </li>
              <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">One morning, when Gregor Samsa woke.</a>
              </li>
              <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His many legs, pitifully thin compared.</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!-- global footer scripts include JQuery //-->
  <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script><!-- include any component specific scripts here //-->
  <script src="../assets/js/components/anchorBox.js" type="text/javascript"></script>
  <script src="../assets/js/components/keyCodes.js" type="text/javascript"></script>
  <script src="../assets/js/components/ariaToggler.js" type="text/javascript"></script>
  <script src="../assets/js/components/classManipulator.js" type="text/javascript"></script>
  <script src="../assets/js/components/breadCrumbs.js" type="text/javascript"></script>
  <script src="../assets/js/components/drawer.js" type="text/javascript"></script>
  <script src="../assets/js/components/scrollToggle.js" type="text/javascript"></script>
  <script src="../assets/js/components/sideNavigation.js" type="text/javascript"></script>
  <script src="../assets/js/components/externalLinkTagger.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/jquery-accessible-tabpanel-aria/jquery-accessible-tabs.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.js" type="text/javascript"></script>
  <script src="../assets/js/components/mobileMegaNav.js" type="text/javascript"></script>
  <script src="../assets/js/components/skipForFirefox.js" type="text/javascript"></script></body>
</html>
