dist/components/breadcrumbs.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="457873e7">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=457873e7" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=457873e7" media="print">
    <title>Breadcrumbs | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head>
  <body>
    <div class="spacer"></div>
    <h2>Breadcrumbs</h2>
    <h3 class="d-lg-none d-xl-none">Breadcrumbs example of both navigation from Home or from a child page</h3>
    <nav class="gel-breadcrumbs " aria-label="breadcrumb">
      <div class="gel-breadcrumbs-visibility d-md-none"><a class="gel-breadcrumbs__link" title="Go to NSW Department of Education homepage" href="#"><span class="gel-breadcrumbs__link-icon" aria-hidden="true"></span><span class="gel-breadcrumbs__item-home-icon gel-home-mobile-breadcrumb" aria-hidden="true"></span><span class="show-on-sr">home</span></a>
      </div>
      <div class="gel-breadcrumbs-visibility d-none d-md-block">
        <ol class="gel-breadcrumbs__list breadcrumb">
          <li class="gel-breadcrumbs__item-home breadcrumb-item"><a class="gel-breadcrumbs__item-link" href="#" title="Go to NSW Department of Education homepage"><span class="gel-breadcrumbs__item-home-icon" aria-hidden="true"></span><span class="show-on-sr">Home</span></a></li>
          <li class="gel-breadcrumbs__item breadcrumb-item"><a class="gel-breadcrumbs__item-link" href="#">One morning when Gregor Samsa woke from </a></li>
          <li class="gel-breadcrumbs__item breadcrumb-item"><a class="gel-breadcrumbs__item-link" href="#">His many legs pitifully thin compared with </a></li>
          <li class="gel-breadcrumbs__item breadcrumb-item"><a class="gel-breadcrumbs__item-link" href="#">His room a proper human room although </a></li>
          <li class="gel-breadcrumbs__item breadcrumb-item"><a class="gel-breadcrumbs__item-link" href="#">and above it there hung a picture </a></li>
          <li class="gel-breadcrumbs__item breadcrumb-item"><a class="gel-breadcrumbs__item-link" href="#">Drops of rain could be heard hitting </a></li>
          <li class="gel-breadcrumbs__item breadcrumb-item"><a class="gel-breadcrumbs__item-link" href="#">He must have tried it a hundred </a></li>
          <li class="gel-breadcrumbs__item breadcrumb-item"><a class="gel-breadcrumbs__item-link" href="#">One morning when Gregor Samsa woke from </a></li>
          <li class="gel-breadcrumbs__item breadcrumb-item active" aria-current="page"><span class="gel-breadcrumbs__item-active">His many legs pitifully thin compared with </span></li>
        </ol>
      </div>
    </nav>
    <main class="gel-main">
      <div class="container">
        <section class="gel-main-content"> </section>
      </div>
    </main>
    <footer> </footer>
    <hr>
    <h2>Record of change decisions</h2>
    <table> 
      <thead> 
        <tr>
          <th>Change date</th>
          <th>Jira links</th>
          <th>Change details</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </body>
  <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script>
  <script src="../assets/js/components/classManipulator.js" type="text/javascript"></script>
  <script src="../assets/js/components/breadCrumbs.js" type="text/javascript"></script>
</html>

src/assets/templates/components/breadcrumbs.pug
//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Breadcrumbs"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
 
  body
    div.spacer
    h2
        | Breadcrumbs

    h3.d-lg-none.d-xl-none
        | Breadcrumbs example of both navigation from Home or from a child page
          
    +gel_breadcrumbs(9,'homeicon')

    main.gel-main
      div.container
        section.gel-main-content  

          
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody
  include ../../pug/components/_global-scripts.pug

  script(src='../assets/js/components/classManipulator.js' type='text/javascript')
  script(src='../assets/js/components/breadCrumbs.js'  type='text/javascript')
