src/assets/templates/components/expanded_nav.pug
//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Expanded nav"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body
    h2  Expanded nav
    div#expandedNav_auto

      section
        div.expandedNav_default
          h2.gel-block__header
            | Expanded Nav default

          +gel_expanded_nav(5)

      section
        div.expandedNav_default
          h2.gel-block__header
            | Expanded Nav with description hidden on mobile

          +gel_expanded_nav(11, {hide_mobile_description: true})

      .row
        .col-md-8
          section
            div.expandedNav_default
              h2.gel-block__header
                | 66% - Expanded Nav with description hidden on mobile

              +gel_expanded_nav(11, {hide_mobile_description: true})    

    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
      
      
    

dist/components/expanded_nav.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="457873e7">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=457873e7" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=457873e7" media="print">
    <title>Expanded nav | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head><!-- include link to css for component here //-->
  <body>
    <h2> Expanded nav</h2>
    <div id="expandedNav_auto">
      <section>
        <div class="expandedNav_default">
          <h2 class="gel-block__header">Expanded Nav default</h2>
          <div class="row gel-expanded-nav">
            <div class="col-lg-4 col-md-6 gel-expanded-nav__item "><i class="fas fa-angle-right" aria-hidden="true"></i>
              <h3><a href="#">One morning when Gregor </a></h3>
              <p>His many legs, pitifully thin compared with the size of the rest.
              </p>
            </div>
            <div class="col-lg-4 col-md-6 gel-expanded-nav__item "><i class="fas fa-angle-right" aria-hidden="true"></i>
              <h3><a href="#">His room a proper </a></h3>
              <p>and above it there hung a picture that he had recently cut.
              </p>
            </div>
            <div class="col-lg-4 col-md-6 gel-expanded-nav__item "><i class="fas fa-angle-right" aria-hidden="true"></i>
              <h3><a href="#">Drops of rain could </a></h3>
              <p>He must have tried it a hundred times, shut his eyes so.
              </p>
            </div>
            <div class="col-lg-4 col-md-6 gel-expanded-nav__item "><i class="fas fa-angle-right" aria-hidden="true"></i>
              <h3><a href="#">One morning when Gregor </a></h3>
              <p>His many legs, pitifully thin compared with the size of the rest.
              </p>
            </div>
            <div class="col-lg-4 col-md-6 gel-expanded-nav__item "><i class="fas fa-angle-right" aria-hidden="true"></i>
              <h3><a href="#">His room a proper </a></h3>
              <p>and above it there hung a picture that he had recently cut.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="expandedNav_default">
          <h2 class="gel-block__header">Expanded Nav with description hidden on mobile</h2>
          <div class="row gel-expanded-nav">
            <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
              <h3><a href="#">Drops of rain could </a></h3>
              <p>He must have tried it a hundred times, shut his eyes so.
              </p>
            </div>
            <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
              <h3><a href="#">One morning when Gregor </a></h3>
              <p>His many legs, pitifully thin compared with the size of the rest.
              </p>
            </div>
            <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
              <h3><a href="#">His room a proper </a></h3>
              <p>and above it there hung a picture that he had recently cut.
              </p>
            </div>
            <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
              <h3><a href="#">Drops of rain could </a></h3>
              <p>He must have tried it a hundred times, shut his eyes so.
              </p>
            </div>
            <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
              <h3><a href="#">One morning when Gregor </a></h3>
              <p>His many legs, pitifully thin compared with the size of the rest.
              </p>
            </div>
            <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
              <h3><a href="#">His room a proper </a></h3>
              <p>and above it there hung a picture that he had recently cut.
              </p>
            </div>
            <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
              <h3><a href="#">Drops of rain could </a></h3>
              <p>He must have tried it a hundred times, shut his eyes so.
              </p>
            </div>
            <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
              <h3><a href="#">One morning when Gregor </a></h3>
              <p>His many legs, pitifully thin compared with the size of the rest.
              </p>
            </div>
            <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
              <h3><a href="#">His room a proper </a></h3>
              <p>and above it there hung a picture that he had recently cut.
              </p>
            </div>
            <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
              <h3><a href="#">Drops of rain could </a></h3>
              <p>He must have tried it a hundred times, shut his eyes so.
              </p>
            </div>
            <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
              <h3><a href="#">One morning when Gregor </a></h3>
              <p>His many legs, pitifully thin compared with the size of the rest.
              </p>
            </div>
          </div>
        </div>
      </section>
      <div class="row">
        <div class="col-md-8">
          <section>
            <div class="expandedNav_default">
              <h2 class="gel-block__header">66% - Expanded Nav with description hidden on mobile</h2>
              <div class="row gel-expanded-nav">
                <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                  <h3><a href="#">His room a proper </a></h3>
                  <p>and above it there hung a picture that he had recently cut.
                  </p>
                </div>
                <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                  <h3><a href="#">Drops of rain could </a></h3>
                  <p>He must have tried it a hundred times, shut his eyes so.
                  </p>
                </div>
                <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                  <h3><a href="#">One morning when Gregor </a></h3>
                  <p>His many legs, pitifully thin compared with the size of the rest.
                  </p>
                </div>
                <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                  <h3><a href="#">His room a proper </a></h3>
                  <p>and above it there hung a picture that he had recently cut.
                  </p>
                </div>
                <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                  <h3><a href="#">Drops of rain could </a></h3>
                  <p>He must have tried it a hundred times, shut his eyes so.
                  </p>
                </div>
                <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                  <h3><a href="#">One morning when Gregor </a></h3>
                  <p>His many legs, pitifully thin compared with the size of the rest.
                  </p>
                </div>
                <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                  <h3><a href="#">His room a proper </a></h3>
                  <p>and above it there hung a picture that he had recently cut.
                  </p>
                </div>
                <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                  <h3><a href="#">Drops of rain could </a></h3>
                  <p>He must have tried it a hundred times, shut his eyes so.
                  </p>
                </div>
                <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                  <h3><a href="#">One morning when Gregor </a></h3>
                  <p>His many legs, pitifully thin compared with the size of the rest.
                  </p>
                </div>
                <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                  <h3><a href="#">His room a proper </a></h3>
                  <p>and above it there hung a picture that he had recently cut.
                  </p>
                </div>
                <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                  <h3><a href="#">Drops of rain could </a></h3>
                  <p>He must have tried it a hundred times, shut his eyes so.
                  </p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <footer> </footer>
    <hr>
    <h2>Record of change decisions</h2>
    <table> 
      <thead> 
        <tr>
          <th>Change date</th>
          <th>Jira links</th>
          <th>Change details</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table><!-- global footer scripts include JQuery //-->
    <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script><!-- include any component specific scripts here //-->
  </body>
</html>
