src/assets/templates/components/featured_teaser.pug
//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Featured Teaser Component"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  body(style="background-color: #f2f2f2")

    .container
    
      h1 Featured Teaser

      h2 Feature Teasers - Default
      .row
        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
            
        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                
        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                  | 25 December 2015

        .col-4
          
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.      

        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                  | 25 December 2015
                  
        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
              .card-body.gel-featured-teaser__content_variant
                span.gel-featured-teaser_highlight
                  | News Category
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                  | 25 December 2015
                  
        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              .card-body.gel-featured-teaser__content_variant
                span.gel-featured-teaser_highlight
                  | News Category
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                  | 25 December 2015
                  
      br
      br

      h2 Feature Teasers - Default with Arrow 
      .row
        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right
  
        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right
                  
        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                  | 25 December 2015
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right

        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.      
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right

        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                  | 25 December 2015
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right  

        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
              .card-body.gel-featured-teaser__content_variant
                span.gel-featured-teaser_highlight
                  | News Category
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                  | 25 December 2015
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right  

        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              .card-body.gel-featured-teaser__content_variant
                span.gel-featured-teaser_highlight
                  | News Category
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                  | 25 December 2015
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right

      br
      br

      h2 Feature Teasers - Default with Arrow - Equal Height
      .row
        .col-4.d-flex
          a.gel-featured-teaser-link.d-flex.flex-grow-1(href="#")
            div.card.gel-featured-teaser_variant.mb-5.flex-grow-1(data-pseudo-link="data-pseudo-link")
              div.card-body.gel-featured-teaser__content_variant
                h4.card-title Apply for a $45K teaching award today
                div.gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right


        .col-4.d-flex
          a.gel-featured-teaser-link.d-flex.flex-grow-1(href="#")
            div.card.gel-featured-teaser_variant.mb-5.flex-grow-1(data-pseudo-link="data-pseudo-link")
              div.card-body.gel-featured-teaser__content_variant
                h4.card-title Apply for a $45K teaching award today Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                div.gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right

        .col-4.d-flex
          a.gel-featured-teaser-link.d-flex.flex-grow-1(href="#")
            div.card.gel-featured-teaser_variant.mb-5.flex-grow-1(data-pseudo-link="data-pseudo-link")
              img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
              div.card-body.gel-featured-teaser__content_variant
                span.gel-featured-teaser_highlight News Category
                h4.card-title Apply for a $45K teaching award today Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25") 25 December 2015
                div.gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right


      hr

      h2
        | Featured Teaser with Banner
      .row
        .col-12.mb-5
          +gel_featured_teaser()
      
      h1
        |Featured Teaser without Image
      +gel_featured_teaser(true, true)
      hr
        
      h1
        |Featured Teaser with Button
      +gel_featured_teaser(true, false, true)
      hr
        
      h1
        |Featured Teasers with Filter
      hr
      
        
      div.gel_featured_teaser_container
        .row
          .col-lg-12
            form
              div.gel-form.gel-form--inline.no-gutters(id="frm01" action="" method="GET")
                fieldset
                  legend.show-on-sr News Sort Options
                  +gel_select("Category", 8)
                  +gel_select("News from", 6)
                  input(type="submit" id="sub01" name="sub01" value="Filter" class="btn gel-button gel-button-primary gel-button-small")
        .row
          .col-sm-12.col-md-6.mb-5.d-flex
            +gel_featured_teaser(true)
          .col-sm-12.col-md-6.mb-5.d-flex
            +gel_featured_teaser(true)
          .col-sm-12.col-md-6.mb-5.d-flex
            +gel_featured_teaser(true)
          .col-sm-12.col-md-6.mb-5.d-flex
            +gel_featured_teaser(true)
          .col-sm-12.col-md-6.mb-5.d-flex
            +gel_featured_teaser(true)
          .col-sm-12.col-md-6.mb-5.d-flex
            +gel_featured_teaser(true)
        
      div.container
        .gel_featured_teaser_pagination
          +gel_pagination_with_higher_numbers(11, "left")
      footer 
      hr
      
      h1
        |Featured Teaser with Button
      +gel_featured_teaser(true, false, true)
      hr

    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      table 
        thead 
          tr
            th Change date
            th Jira links
            th Change details
            
        tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
      
      
    

dist/components/featured_teaser.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="457873e7">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=457873e7" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=457873e7" media="print">
    <title>Featured Teaser Component | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head>
  <body style="background-color: #f2f2f2">
    <div class="container">
      <h1>Featured Teaser</h1>
      <h2>Feature Teasers - Default</h2>
      <div class="row">
        <div class="col-4"><a class="gel-featured-teaser-link" href="#">
            <div class="card gel-featured-teaser_variant mb-5" data-pseudo-link="data-pseudo-link">
              <div class="card-body gel-featured-teaser__content_variant">
                <h4 class="card-title">Apply for a $45K teaching award today</h4>
              </div>
            </div></a></div>
        <div class="col-4"><a class="gel-featured-teaser-link" href="#">
            <div class="card gel-featured-teaser_variant mb-5" data-pseudo-link="data-pseudo-link">
              <div class="card-body gel-featured-teaser__content_variant">
                <h4 class="card-title">Apply for a $45K teaching award today</h4>
                <p>The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.</p>
              </div>
            </div></a></div>
        <div class="col-4"><a class="gel-featured-teaser-link" href="#">
            <div class="card gel-featured-teaser_variant mb-5" data-pseudo-link="data-pseudo-link">
              <div class="card-body gel-featured-teaser__content_variant">
                <h4 class="card-title">Apply for a $45K teaching award today</h4>
                <p>The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.</p>
                <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
              </div>
            </div></a></div>
        <div class="col-4"><a class="gel-featured-teaser-link" href="#">
            <div class="card gel-featured-teaser_variant mb-5" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt="">
              <div class="card-body gel-featured-teaser__content_variant">
                <h4 class="card-title">Apply for a $45K teaching award today</h4>
                <p>The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.      </p>
              </div>
            </div></a></div>
        <div class="col-4"><a class="gel-featured-teaser-link" href="#">
            <div class="card gel-featured-teaser_variant mb-5" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt="">
              <div class="card-body gel-featured-teaser__content_variant">
                <h4 class="card-title">Apply for a $45K teaching award today</h4>
                <p>The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.</p>
                <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
              </div>
            </div></a></div>
        <div class="col-4"><a class="gel-featured-teaser-link" href="#">
            <div class="card gel-featured-teaser_variant mb-5" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt="">
              <div class="card-body gel-featured-teaser__content_variant"><span class="gel-featured-teaser_highlight">News Category</span>
                <h4 class="card-title">Apply for a $45K teaching award today</h4>
                <p>The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.</p>
                <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
              </div>
            </div></a></div>
        <div class="col-4"><a class="gel-featured-teaser-link" href="#">
            <div class="card gel-featured-teaser_variant mb-5" data-pseudo-link="data-pseudo-link">
              <div class="card-body gel-featured-teaser__content_variant"><span class="gel-featured-teaser_highlight">News Category</span>
                <h4 class="card-title">Apply for a $45K teaching award today</h4>
                <p>The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.</p>
                <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
              </div>
            </div></a></div>
      </div><br><br>
      <h2>Feature Teasers - Default with Arrow </h2>
      <div class="row">
        <div class="col-4"><a class="gel-featured-teaser-link" href="#">
            <div class="card gel-featured-teaser_variant mb-5" data-pseudo-link="data-pseudo-link">
              <div class="card-body gel-featured-teaser__content_variant">
                <h4 class="card-title">Apply for a $45K teaching award today</h4>
                <div class="gel-featured-teaser__arrow"><span class="far fa-long-arrow-right"></span></div>
              </div>
            </div></a></div>
        <div class="col-4"><a class="gel-featured-teaser-link" href="#">
            <div class="card gel-featured-teaser_variant mb-5" data-pseudo-link="data-pseudo-link">
              <div class="card-body gel-featured-teaser__content_variant">
                <h4 class="card-title">Apply for a $45K teaching award today</h4>
                <p>The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.</p>
                <div class="gel-featured-teaser__arrow"><span class="far fa-long-arrow-right"></span></div>
              </div>
            </div></a></div>
        <div class="col-4"><a class="gel-featured-teaser-link" href="#">
            <div class="card gel-featured-teaser_variant mb-5" data-pseudo-link="data-pseudo-link">
              <div class="card-body gel-featured-teaser__content_variant">
                <h4 class="card-title">Apply for a $45K teaching award today</h4>
                <p>The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.</p>
                <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
                <div class="gel-featured-teaser__arrow"><span class="far fa-long-arrow-right"></span></div>
              </div>
            </div></a></div>
        <div class="col-4"><a class="gel-featured-teaser-link" href="#">
            <div class="card gel-featured-teaser_variant mb-5" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt="">
              <div class="card-body gel-featured-teaser__content_variant">
                <h4 class="card-title">Apply for a $45K teaching award today</h4>
                <p>The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.      </p>
                <div class="gel-featured-teaser__arrow"><span class="far fa-long-arrow-right"></span></div>
              </div>
            </div></a></div>
        <div class="col-4"><a class="gel-featured-teaser-link" href="#">
            <div class="card gel-featured-teaser_variant mb-5" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt="">
              <div class="card-body gel-featured-teaser__content_variant">
                <h4 class="card-title">Apply for a $45K teaching award today</h4>
                <p>The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.</p>
                <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
                <div class="gel-featured-teaser__arrow"><span class="far fa-long-arrow-right"> </span></div>
              </div>
            </div></a></div>
        <div class="col-4"><a class="gel-featured-teaser-link" href="#">
            <div class="card gel-featured-teaser_variant mb-5" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt="">
              <div class="card-body gel-featured-teaser__content_variant"><span class="gel-featured-teaser_highlight">News Category</span>
                <h4 class="card-title">Apply for a $45K teaching award today</h4>
                <p>The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.</p>
                <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
                <div class="gel-featured-teaser__arrow"><span class="far fa-long-arrow-right"> </span></div>
              </div>
            </div></a></div>
        <div class="col-4"><a class="gel-featured-teaser-link" href="#">
            <div class="card gel-featured-teaser_variant mb-5" data-pseudo-link="data-pseudo-link">
              <div class="card-body gel-featured-teaser__content_variant"><span class="gel-featured-teaser_highlight">News Category</span>
                <h4 class="card-title">Apply for a $45K teaching award today</h4>
                <p>The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.</p>
                <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
                <div class="gel-featured-teaser__arrow"><span class="far fa-long-arrow-right"></span></div>
              </div>
            </div></a></div>
      </div><br><br>
      <h2>Feature Teasers - Default with Arrow - Equal Height</h2>
      <div class="row">
        <div class="col-4 d-flex"><a class="gel-featured-teaser-link d-flex flex-grow-1" href="#">
            <div class="card gel-featured-teaser_variant mb-5 flex-grow-1" data-pseudo-link="data-pseudo-link">
              <div class="card-body gel-featured-teaser__content_variant">
                <h4 class="card-title">Apply for a $45K teaching award today</h4>
                <div class="gel-featured-teaser__arrow"><span class="far fa-long-arrow-right"></span></div>
              </div>
            </div></a></div>
        <div class="col-4 d-flex"><a class="gel-featured-teaser-link d-flex flex-grow-1" href="#">
            <div class="card gel-featured-teaser_variant mb-5 flex-grow-1" data-pseudo-link="data-pseudo-link">
              <div class="card-body gel-featured-teaser__content_variant">
                <h4 class="card-title">Apply for a $45K teaching award today Apply for a $45K teaching award today</h4>
                <p>The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.</p>
                <div class="gel-featured-teaser__arrow"><span class="far fa-long-arrow-right"></span></div>
              </div>
            </div></a></div>
        <div class="col-4 d-flex"><a class="gel-featured-teaser-link d-flex flex-grow-1" href="#">
            <div class="card gel-featured-teaser_variant mb-5 flex-grow-1" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt="">
              <div class="card-body gel-featured-teaser__content_variant"><span class="gel-featured-teaser_highlight">News Category</span>
                <h4 class="card-title">Apply for a $45K teaching award today Apply for a $45K teaching award today</h4>
                <p>The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.</p>
                <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
                <div class="gel-featured-teaser__arrow"><span class="far fa-long-arrow-right"></span></div>
              </div>
            </div></a></div>
      </div>
      <hr>
      <h2>Featured Teaser with Banner</h2>
      <div class="row">
        <div class="col-12 mb-5"><a class="gel-featured-teaser-link d-flex flex-grow-1" href="#">
            <div class="card gel-featured-teaser flex-1" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt=""/>
              <div class="card-body gel-featured-teaser__content">
                <h4 class="card-title">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his.
                </h4>
                <time class="gel-featured-teaser__date" datetime="2015-12-25">25 December 2015</time>
              </div>
            </div></a>
        </div>
      </div>
      <h1>Featured Teaser without Image</h1><a class="gel-featured-teaser-link d-flex flex-grow-1" href="#">
        <div class="card gel-featured-teaser_variant flex-1" data-pseudo-link="data-pseudo-link">
          <div class="card-body gel-featured-teaser__content_variant"><span class="gel-featured-teaser_highlight">News Category</span>
            <h4 class="card-title">His many legs, pitifully thin compared with the size of the rest of him, waved.
            </h4>
            <p>His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread.
            </p>
            <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
          </div>
        </div></a>
      <hr>
      <h1>Featured Teaser with Button</h1><a class="gel-featured-teaser-link d-flex flex-grow-1" href="#">
        <div class="card gel-featured-teaser_variant flex-1" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt=""/>
          <div class="card-body gel-featured-teaser__content_variant"><span class="gel-featured-teaser_highlight">News Category</span>
            <h4 class="card-title">and above it there hung a picture that he had recently cut out of an.
            </h4>
            <p>Drops of rain could be heard hitting the pane, which made him feel quite sad. How about if I sleep a little bit longer and.
            </p>
            <div class="gel-featured-teaser_action">
              <button class="btn gel-button gel-button-secondary gel-button-small" type="submit" value="Button">Button</button>
            </div>
            <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
          </div>
        </div></a>
      <hr>
      <h1>Featured Teasers with Filter</h1>
      <hr>
      <div class="gel_featured_teaser_container">
        <div class="row">
          <div class="col-lg-12">
            <form>
              <div class="gel-form gel-form--inline no-gutters" id="frm01" action="" method="GET">
                <fieldset>
                  <legend class="show-on-sr">News Sort Options</legend>
                  <label for="148">Category
                  </label>
                  <select id="148" name="148" data-gel-auto-submit2="data-gel-auto-submit2">
                    <option value="0">He must 
                    </option>
                    <option value="1">One morning 
                    </option>
                    <option value="2">His many 
                    </option>
                    <option value="3">His room 
                    </option>
                    <option value="4">and above 
                    </option>
                    <option value="5">Drops of 
                    </option>
                    <option value="6">He must 
                    </option>
                    <option value="7">One morning 
                    </option>
                  </select>
                  <label for="379">News from
                  </label>
                  <select id="379" name="379" data-gel-auto-submit2="data-gel-auto-submit2">
                    <option value="0">His many 
                    </option>
                    <option value="1">His room 
                    </option>
                    <option value="2">and above 
                    </option>
                    <option value="3">Drops of 
                    </option>
                    <option value="4">He must 
                    </option>
                    <option value="5">One morning 
                    </option>
                  </select>
                  <input class="btn gel-button gel-button-primary gel-button-small" type="submit" id="sub01" name="sub01" value="Filter">
                </fieldset>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 mb-5 d-flex"><a class="gel-featured-teaser-link d-flex flex-grow-1" href="#">
              <div class="card gel-featured-teaser_variant flex-1" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt=""/>
                <div class="card-body gel-featured-teaser__content_variant"><span class="gel-featured-teaser_highlight">News Category</span>
                  <h4 class="card-title">His many legs, pitifully thin compared with the size of the rest of him, waved.
                  </h4>
                  <p>His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread.
                  </p>
                  <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
                </div>
              </div></a>
          </div>
          <div class="col-sm-12 col-md-6 mb-5 d-flex"><a class="gel-featured-teaser-link d-flex flex-grow-1" href="#">
              <div class="card gel-featured-teaser_variant flex-1" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt=""/>
                <div class="card-body gel-featured-teaser__content_variant"><span class="gel-featured-teaser_highlight">News Category</span>
                  <h4 class="card-title">and above it there hung a picture that he had recently cut out of an.
                  </h4>
                  <p>Drops of rain could be heard hitting the pane, which made him feel quite sad. How about if I sleep a little bit longer and.
                  </p>
                  <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
                </div>
              </div></a>
          </div>
          <div class="col-sm-12 col-md-6 mb-5 d-flex"><a class="gel-featured-teaser-link d-flex flex-grow-1" href="#">
              <div class="card gel-featured-teaser_variant flex-1" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt=""/>
                <div class="card-body gel-featured-teaser__content_variant"><span class="gel-featured-teaser_highlight">News Category</span>
                  <h4 class="card-title">He must have tried it a hundred times, shut his eyes so that he wouldnt.
                  </h4>
                  <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour.
                  </p>
                  <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
                </div>
              </div></a>
          </div>
          <div class="col-sm-12 col-md-6 mb-5 d-flex"><a class="gel-featured-teaser-link d-flex flex-grow-1" href="#">
              <div class="card gel-featured-teaser_variant flex-1" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt=""/>
                <div class="card-body gel-featured-teaser__content_variant"><span class="gel-featured-teaser_highlight">News Category</span>
                  <h4 class="card-title">His many legs, pitifully thin compared with the size of the rest of him, waved.
                  </h4>
                  <p>His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread.
                  </p>
                  <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
                </div>
              </div></a>
          </div>
          <div class="col-sm-12 col-md-6 mb-5 d-flex"><a class="gel-featured-teaser-link d-flex flex-grow-1" href="#">
              <div class="card gel-featured-teaser_variant flex-1" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt=""/>
                <div class="card-body gel-featured-teaser__content_variant"><span class="gel-featured-teaser_highlight">News Category</span>
                  <h4 class="card-title">and above it there hung a picture that he had recently cut out of an.
                  </h4>
                  <p>Drops of rain could be heard hitting the pane, which made him feel quite sad. How about if I sleep a little bit longer and.
                  </p>
                  <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
                </div>
              </div></a>
          </div>
          <div class="col-sm-12 col-md-6 mb-5 d-flex"><a class="gel-featured-teaser-link d-flex flex-grow-1" href="#">
              <div class="card gel-featured-teaser_variant flex-1" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt=""/>
                <div class="card-body gel-featured-teaser__content_variant"><span class="gel-featured-teaser_highlight">News Category</span>
                  <h4 class="card-title">He must have tried it a hundred times, shut his eyes so that he wouldnt.
                  </h4>
                  <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour.
                  </p>
                  <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
                </div>
              </div></a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="gel_featured_teaser_pagination">
          <nav>
            <ul class="gel-pagination">
              <li class="gel-pagination__prev"><a href="#" title="Previous page" aria-label="Previous page"><span>Previous</span></a></li>
              <li><a href="#" title="Page 1" aria-label="Page 1">1</a></li>
              <li class="gel-pagination__more gel-pagination__disabled"><span href="#">...           </span></li>
              <li><a href="#" title="Page 10" aria-label="Page 10">10</a></li>
              <li class="gel-pagination__disabled gel-pagination__active"><a href="#" tabindex="0" aria-label="Current Page 11" role="link">11</a></li>
              <li><a href="#" title="Page 12" aria-label="Page 12">12</a></li>
              <li class="gel-pagination__more gel-pagination__disabled"><span href="#">...</span></li>
              <li class="gel-pagination__next"><a href="#" title="Next page" aria-label="Next page"><span>Next</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
      <footer> </footer>
      <hr>
      <h1>Featured Teaser with Button</h1><a class="gel-featured-teaser-link d-flex flex-grow-1" href="#">
        <div class="card gel-featured-teaser_variant flex-1" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt=""/>
          <div class="card-body gel-featured-teaser__content_variant"><span class="gel-featured-teaser_highlight">News Category</span>
            <h4 class="card-title">His many legs, pitifully thin compared with the size of the rest of him, waved.
            </h4>
            <p>His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread.
            </p>
            <div class="gel-featured-teaser_action">
              <button class="btn gel-button gel-button-secondary gel-button-small" type="submit" value="Button">Button</button>
            </div>
            <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
          </div>
        </div></a>
      <hr>
    </div>
    <footer> </footer>
    <hr>
    <h2>Record of change decisions</h2>
    <table> 
      <thead> 
        <tr>
          <th>Change date</th>
          <th>Jira links</th>
          <th>Change details</th>
        </tr>
      </thead>
      <table> 
        <thead> 
          <tr>
            <th>Change date</th>
            <th>Jira links</th>
            <th>Change details</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </table><!-- global footer scripts include JQuery //-->
    <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script><!-- include any component specific scripts here //-->
  </body>
</html>
