src/assets/templates/components/link-columns-description.pug
//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Link columns with description"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  // include link to css for component here 

  body

    h2 
      | Link columns with description

    <!-- start component //-->

    div#linkColumns_auto

      div.container
        div.gel-link-columns-desc

         +gel_link_columns-desc(10, 3,true)


      <!-- end component //-->

    h2 
      | 33%-66% Link columns with description

    .row
      .col-md-4
        <!-- start component //-->

        div#linkColumns_auto

          div.container
            div.gel-link-columns-desc

             +gel_link_columns-desc(10, 3,true)


          <!-- end component //-->
      .col-md-8
        <!-- start component //-->

        div#linkColumns_auto

          div.container
            div.gel-link-columns-desc

             +gel_link_columns-desc(10, 3,true)


          <!-- end component //-->  
    footer 
    
    hr
      
    h2 Record of change decisions
          
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody
        tr
          td 31-07-2019
          td 
            a(href="https://dec-ce.atlassian.net/browse/GEL-47")
              | https://dec-ce.atlassian.net/browse/GEL-30
          td 
            | Updated the link-columns-description.pug, link-columns-description.scss. 

      
    // global footer scripts include JQuery 
    include ../../pug/components/_global-scripts.pug 
    // include any component specific scripts here  
    // script(src='../assets/js/components/externalLinkTagger.js' type='text/javascript')
      
      
    

dist/components/link-columns-description.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="457873e7">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=457873e7" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=457873e7" media="print">
    <title>Link columns with description | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head>
  <!-- include link to css for component here -->
  <body>
    <h2>
       Link columns with description</h2><!-- start component //-->
    <div id="linkColumns_auto">
      <div class="container">
        <div class="gel-link-columns-desc">
          <div class="gel-link-columns-desc-header">
            <h2><a href="#"> One morning when Gregor Samsa </a></h2>
          </div>
          <div class="row gel-link-columns-desc-main">
            <div class="col-md-3 gel-description"> 
              <p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. 
              </p>
            </div>
            <div class="col-md-9"> 
              <h3>Topics include:</h3>
              <div class="gel-link-columns">
                <ul class="gel-link-list gel-link-columns__items gel-link-columns--3col gel-link-columns--condensed">
                  <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#"> he thought. It wasnt a.</a>
                  </li>
                  <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">A collection of textile samples lay.</a>
                  </li>
                  <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">It showed a lady fitted out.</a>
                  </li>
                  <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">How about if I sleep a.</a>
                  </li>
                  <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">One morning, when Gregor Samsa woke.</a>
                  </li>
                  <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His many legs, pitifully thin compared.</a>
                  </li>
                  <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His room, a proper human room.</a>
                  </li>
                  <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">and above it there hung a.</a>
                  </li>
                  <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">Drops of rain could be heard.</a>
                  </li>
                  <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">He must have tried it a.</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col gel-link-columns-desc-alltopics"><a href="#">View all topics</a></div>
          </div>
        </div>
      </div><!-- end component //-->
    </div>
    <h2>
       33%-66% Link columns with description</h2>
    <div class="row">
      <div class="col-md-4"><!-- start component //-->
        <div id="linkColumns_auto">
          <div class="container">
            <div class="gel-link-columns-desc">
              <div class="gel-link-columns-desc-header">
                <h2><a href="#"> One morning when Gregor Samsa </a></h2>
              </div>
              <div class="row gel-link-columns-desc-main">
                <div class="col-md-3 gel-description"> 
                  <p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. 
                  </p>
                </div>
                <div class="col-md-9"> 
                  <h3>Topics include:</h3>
                  <div class="gel-link-columns">
                    <ul class="gel-link-list gel-link-columns__items gel-link-columns--3col gel-link-columns--condensed">
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#"> he thought. It wasnt a.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">A collection of textile samples lay.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">It showed a lady fitted out.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">How about if I sleep a.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">One morning, when Gregor Samsa woke.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His many legs, pitifully thin compared.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His room, a proper human room.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">and above it there hung a.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">Drops of rain could be heard.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">He must have tried it a.</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col gel-link-columns-desc-alltopics"><a href="#">View all topics</a></div>
              </div>
            </div>
          </div><!-- end component //-->
        </div>
      </div>
      <div class="col-md-8"><!-- start component //-->
        <div id="linkColumns_auto">
          <div class="container">
            <div class="gel-link-columns-desc">
              <div class="gel-link-columns-desc-header">
                <h2><a href="#"> One morning when Gregor Samsa </a></h2>
              </div>
              <div class="row gel-link-columns-desc-main">
                <div class="col-md-3 gel-description"> 
                  <p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. 
                  </p>
                </div>
                <div class="col-md-9"> 
                  <h3>Topics include:</h3>
                  <div class="gel-link-columns">
                    <ul class="gel-link-list gel-link-columns__items gel-link-columns--3col gel-link-columns--condensed">
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#"> he thought. It wasnt a.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">A collection of textile samples lay.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">It showed a lady fitted out.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">How about if I sleep a.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">One morning, when Gregor Samsa woke.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His many legs, pitifully thin compared.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His room, a proper human room.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">and above it there hung a.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">Drops of rain could be heard.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">He must have tried it a.</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col gel-link-columns-desc-alltopics"><a href="#">View all topics</a></div>
              </div>
            </div>
          </div><!-- end component //-->  
        </div>
      </div>
    </div>
    <footer> </footer>
    <hr>
    <h2>Record of change decisions</h2>
    <table> 
      <thead> 
        <tr>
          <th>Change date</th>
          <th>Jira links</th>
          <th>Change details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>31-07-2019</td>
          <td> <a href="https://dec-ce.atlassian.net/browse/GEL-47">https://dec-ce.atlassian.net/browse/GEL-30</a></td>
          <td>
             Updated the link-columns-description.pug, link-columns-description.scss. </td>
        </tr>
      </tbody>
    </table>
    <!-- global footer scripts include JQuery -->
    <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script>
    <!-- include any component specific scripts here  -->
    <!-- script(src='../assets/js/components/externalLinkTagger.js' type='text/javascript')-->
  </body>
</html>
