src/assets/templates/components/notice_ribbon.pug
//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Notice ribbon"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body
    
    h2 Notice ribbon without quick summary
    +gel_notice_ribbon()
        
    hr
    
    h2 Notice ribbon with quick summary
    
    aside.gel-notice-ribbon(data-gel-notice-ribbon arialive="polite" aria-label="noticeRibbon")
      span.show-on-sr
        | noticeRibbon
      a.noticeRibbon-tab(id="noticeRibbon-tab02" data-toggle="collapse" href="#noticeRibbon-content02" aria-expanded="false" tabindex="0" )
        div
          p.gel-notice-ribbon__title
            | Welcome to education.gov.nsw.au
            +gel_link_tag("BETA")
          div.gel-notice-ribbon__icon
          
          p.gel-quick-summary-desktop(role="presentation")
            +lipsum(3, "words")
            
      div(class="collapse noticeRibbon-content"  id="noticeRibbon-content02")
        div(class="noticeRibbon-content-container")
          div
            p
              +lipsum(4, "sentences")
          +gel_button("Button", "gel-button-secondary", "small", false, true)

          p.gel-quick-summary.d-sm-block.d-md-none
            +lipsum(3, "words")
            
          p.gel-notice-ribbon__additional.d-sm-block.d-md-none
            +lipsum(2, "words")
            a(href="#")
              +lipsum(3, "words")
      
      p.secondary-link-title.gel-notice-ribbon__additional.d-none.d-sm-none.d-md-block(role="presentation")
        +lipsum(2, "words")
        a(href="#")
          +lipsum(3, "words")
      
    hr
      
    h2 Notice ribbon without quick summary (max characters)
    
    aside.gel-notice-ribbon(data-gel-notice-ribbon arialive="polite" aria-label="noticeRibbon")
      span.show-on-sr
        | noticeRibbon
      a.noticeRibbon-tab(id="noticeRibbon-tab03" data-toggle="collapse" href="#noticeRibbon-content03" aria-expanded="false" tabindex="0" )
        div
          p.gel-notice-ribbon__title
            | His many legs pitifully thin compared with the size of the rest of him waved about helplessly as he loo helplessly as he loo helplessly as he loo dsas
            +gel_link_tag("BETA")
          div.gel-notice-ribbon__icon
          
          p.gel-quick-summary-desktop(role="presentation")
            |
            
          
      div(class="collapse noticeRibbon-content"  id="noticeRibbon-content03")
        div(class="noticeRibbon-content-container")
          div
            p
              +lipsum(4, "sentences")
          +gel_button("Button", "gel-button-secondary", "small", false, true)
          
          p.gel-quick-summary.d-sm-block.d-md-none
            |
        
          p.gel-notice-ribbon__additional.d-sm-block.d-md-none
            +lipsum(2, "words")
            a(href="#")
              +lipsum(3, "words")
      
      p.secondary-link-title.gel-notice-ribbon__additional.d-none.d-sm-none.d-md-block(role="presentation")
        | His many legs pitifully thin compared with the siz
        a(href="#")
          | His many legs pitifully thin compared with the siz
          
    hr
    
    h2 Notice ribbon with quick summary (max characters)
    
    aside.gel-notice-ribbon(data-gel-notice-ribbon arialive="polite" aria-label="noticeRibbon")
      span.show-on-sr
        | noticeRibbon
      a.noticeRibbon-tab(id="noticeRibbon-tab04" data-toggle="collapse" href="#noticeRibbon-content04" aria-expanded="false" tabindex="0" )
        div
          p.gel-notice-ribbon__title
            | His many legs pitifully thin compared with the size of the rest of him waved about helplessly as he loo helplessly as he loo helplessly as he loo dsas
            +gel_link_tag("BETA")
          div.gel-notice-ribbon__icon
          
          p.gel-quick-summary-desktop(role="presentation")
            | His many legs pitifully thin compared with the size of the rest of him waved about helplessly as he loo helplessly as he loo helplessly as he loo dsas
            
          
      div(class="collapse noticeRibbon-content"  id="noticeRibbon-content04")
        div(class="noticeRibbon-content-container")
          div
            p
              +lipsum(4, "sentences")
          +gel_button("Button", "gel-button-secondary", "small", false, true)

          p.gel-quick-summary.d-sm-block.d-md-none
            | His many legs pitifully thin compared with the size of the rest of him waved about helplessly as he loo helplessly as he loo helplessly as he loo dsas
        
          p.gel-notice-ribbon__additional.d-sm-block.d-md-none
            +lipsum(2, "words")
            a(href="#")
              +lipsum(3, "words")    
      
      p.secondary-link-title.gel-notice-ribbon__additional.d-none.d-sm-none.d-md-block(role="presentation")
        | His many legs pitifully thin compared with the siz
        a(href="#")
          | His many legs pitifully thin compared with the siz
    
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
    
    script.

      $(document).ready(function() {
        $('[id^="noticeRibbon-tab"]').each(function( index ) {
          if(!($(this).find(".gel-quick-summary-desktop").is(':visible'))) {
            $(this).find(".gel-notice-ribbon__title").css('max-width', '60%');
          } else {
          }
        });
        
        $('.gel-notice-ribbon').each(function( index ) {
          var textHeight1 = $(this).find(".secondary-link-title").innerHeight();
          var textHeight2 = $(this).find(".gel-notice-ribbon__title").innerHeight();
          var divAdjust = $(this).find(".noticeRibbon-tab")
          if(textHeight1 > textHeight2 + 2){
            divAdjust.css('padding','15px 15px 40px 15px');
          } else {
          }
        })
      })
      
    

dist/components/notice_ribbon.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="457873e7">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=457873e7" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=457873e7" media="print">
    <title>Notice ribbon | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head><!-- include link to css for component here //-->
  <body>
    <h2>Notice ribbon without quick summary</h2>
    <aside class="gel-notice-ribbon" data-gel-notice-ribbon="data-gel-notice-ribbon" arialive="polite" aria-label="noticeRibbon"><span class="show-on-sr">noticeRibbon</span><a class="noticeRibbon-tab" id="noticeRibbon-tab01" data-toggle="collapse" href="#noticeRibbon-content01" aria-expanded="false" tabindex="0">
        <div>
          <p class="gel-notice-ribbon__title">Welcome to education.gov.nsw.au<span class="badge link-tag-container"><span class="link-tag">BETA</span></span>
          </p>
          <div class="gel-notice-ribbon__icon"></div>
          <p class="gel-quick-summary-desktop" role="presentation"></p>
        </div></a>
      <div class="collapse noticeRibbon-content" id="noticeRibbon-content01">
        <div class="noticeRibbon-content-container">
          <div>
            <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. 
            </p>
          </div>
          <button class="btn gel-button gel-button-secondary gel-button-small gel-button-r-icon" type="submit" value="Button">Button</button>
          <p class="gel-quick-summary d-sm-block d-md-none"></p>
          <p class="gel-notice-ribbon__additional d-sm-block d-md-none"> he <a href="#">A collection of </a>
          </p>
        </div>
      </div>
      <p class="secondary-link-title gel-notice-ribbon__additional d-none d-sm-none d-md-block" role="presentation">It showed <a href="#">How about if </a>
      </p>
    </aside>
    <hr>
    <h2>Notice ribbon with quick summary</h2>
    <aside class="gel-notice-ribbon" data-gel-notice-ribbon arialive="polite" aria-label="noticeRibbon"><span class="show-on-sr">noticeRibbon</span><a class="noticeRibbon-tab" id="noticeRibbon-tab02" data-toggle="collapse" href="#noticeRibbon-content02" aria-expanded="false" tabindex="0">
        <div>
          <p class="gel-notice-ribbon__title">Welcome to education.gov.nsw.au<span class="badge link-tag-container"><span class="link-tag">BETA</span></span>
          </p>
          <div class="gel-notice-ribbon__icon"></div>
          <p class="gel-quick-summary-desktop" role="presentation">One morning when 
          </p>
        </div></a>
      <div class="collapse noticeRibbon-content" id="noticeRibbon-content02">
        <div class="noticeRibbon-content-container">
          <div>
            <p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.  he thought. It wasnt a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. 
            </p>
          </div>
          <button class="btn gel-button gel-button-secondary gel-button-small gel-button-r-icon" type="submit" value="Button">Button</button>
          <p class="gel-quick-summary d-sm-block d-md-none">A collection of 
          </p>
          <p class="gel-notice-ribbon__additional d-sm-block d-md-none">It showed <a href="#">How about if </a>
          </p>
        </div>
      </div>
      <p class="secondary-link-title gel-notice-ribbon__additional d-none d-sm-none d-md-block" role="presentation">One morning <a href="#">His many legs </a>
      </p>
    </aside>
    <hr>
    <h2>Notice ribbon without quick summary (max characters)</h2>
    <aside class="gel-notice-ribbon" data-gel-notice-ribbon arialive="polite" aria-label="noticeRibbon"><span class="show-on-sr">noticeRibbon</span><a class="noticeRibbon-tab" id="noticeRibbon-tab03" data-toggle="collapse" href="#noticeRibbon-content03" aria-expanded="false" tabindex="0">
        <div>
          <p class="gel-notice-ribbon__title">His many legs pitifully thin compared with the size of the rest of him waved about helplessly as he loo helplessly as he loo helplessly as he loo dsas<span class="badge link-tag-container"><span class="link-tag">BETA</span></span>
          </p>
          <div class="gel-notice-ribbon__icon"></div>
          <p class="gel-quick-summary-desktop" role="presentation"></p>
        </div></a>
      <div class="collapse noticeRibbon-content" id="noticeRibbon-content03">
        <div class="noticeRibbon-content-container">
          <div>
            <p>His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table. Samsa was a travelling salesman. and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. 
            </p>
          </div>
          <button class="btn gel-button gel-button-secondary gel-button-small gel-button-r-icon" type="submit" value="Button">Button</button>
          <p class="gel-quick-summary d-sm-block d-md-none"></p>
          <p class="gel-notice-ribbon__additional d-sm-block d-md-none">It showed <a href="#">How about if </a>
          </p>
        </div>
      </div>
      <p class="secondary-link-title gel-notice-ribbon__additional d-none d-sm-none d-md-block" role="presentation">His many legs pitifully thin compared with the siz<a href="#">His many legs pitifully thin compared with the siz</a></p>
    </aside>
    <hr>
    <h2>Notice ribbon with quick summary (max characters)</h2>
    <aside class="gel-notice-ribbon" data-gel-notice-ribbon arialive="polite" aria-label="noticeRibbon"><span class="show-on-sr">noticeRibbon</span><a class="noticeRibbon-tab" id="noticeRibbon-tab04" data-toggle="collapse" href="#noticeRibbon-content04" aria-expanded="false" tabindex="0">
        <div>
          <p class="gel-notice-ribbon__title">His many legs pitifully thin compared with the size of the rest of him waved about helplessly as he loo helplessly as he loo helplessly as he loo dsas<span class="badge link-tag-container"><span class="link-tag">BETA</span></span>
          </p>
          <div class="gel-notice-ribbon__icon"></div>
          <p class="gel-quick-summary-desktop" role="presentation">His many legs pitifully thin compared with the size of the rest of him waved about helplessly as he loo helplessly as he loo helplessly as he loo dsas</p>
        </div></a>
      <div class="collapse noticeRibbon-content" id="noticeRibbon-content04">
        <div class="noticeRibbon-content-container">
          <div>
            <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. 
            </p>
          </div>
          <button class="btn gel-button gel-button-secondary gel-button-small gel-button-r-icon" type="submit" value="Button">Button</button>
          <p class="gel-quick-summary d-sm-block d-md-none">His many legs pitifully thin compared with the size of the rest of him waved about helplessly as he loo helplessly as he loo helplessly as he loo dsas</p>
          <p class="gel-notice-ribbon__additional d-sm-block d-md-none"> he <a href="#">A collection of </a>
          </p>
        </div>
      </div>
      <p class="secondary-link-title gel-notice-ribbon__additional d-none d-sm-none d-md-block" role="presentation">His many legs pitifully thin compared with the siz<a href="#">His many legs pitifully thin compared with the siz</a></p>
    </aside>
    <footer> </footer>
    <hr>
    <h2>Record of change decisions</h2>
    <table> 
      <thead> 
        <tr>
          <th>Change date</th>
          <th>Jira links</th>
          <th>Change details</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table><!-- global footer scripts include JQuery //-->
    <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script><!-- include any component specific scripts here //-->
    <script>
      $(document).ready(function() {
        $('[id^="noticeRibbon-tab"]').each(function( index ) {
          if(!($(this).find(".gel-quick-summary-desktop").is(':visible'))) {
            $(this).find(".gel-notice-ribbon__title").css('max-width', '60%');
          } else {
          }
        });
        
        $('.gel-notice-ribbon').each(function( index ) {
          var textHeight1 = $(this).find(".secondary-link-title").innerHeight();
          var textHeight2 = $(this).find(".gel-notice-ribbon__title").innerHeight();
          var divAdjust = $(this).find(".noticeRibbon-tab")
          if(textHeight1 > textHeight2 + 2){
            divAdjust.css('padding','15px 15px 40px 15px');
          } else {
          }
        })
      })
    </script>
  </body>
</html>
