dist/components/typography.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="457873e7">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=457873e7" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=457873e7" media="print">
    <title>TYPOGRAPHY | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head>
  <!-- include link to css for component here -->
  <body style="margin: auto; max-width: 1140px; padding: 50px 25px;">
    <h2>
       Typography</h2>
    <h6>
       Our Primary Typeface</h6>
    <hr>
    <div class="row">
      <div class="col-12 col-md-6">
        <p>Our primary typeface is Montserrat. Designed by Julieta Ulanovsky in 2014, Montserrat is a beautifully simple, open geometric typeface that complements our logo and its distinguishing waratah. Friendly and welcoming, it’s a sans serif font with character, warmth and functionality used across both print and digital.   </p>
        <ul>
          <li>
             We use Montserrat in 2 weights; Regular and SemiBold</li>
          <li>For readability, a line of text should never exceed 650px</li>
          <li>All type should be left aligned</li>
        </ul>
        <p>You can download the font family from Google Fonts.</p>
        <p><a href="https://fonts.google.com/specimen/Montserrat?selection.family=Montserrat">
             https://fonts.google.com/specimen/Montserrat?selection.family=Montserrat</a></p>
      </div>
      <div class="col-12 col-md-6">
        <p>Montserrat Regular<br><span style="word-wrap: break-word;">AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz1234567890+=”:!@#$%^&*?©</span></p>
        <h5>Montserrat SemiBold<br><span style="word-wrap: break-word;">AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz1234567890+=”:!@#$%^&*?©</span></h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <h6>
           Desktop and Tablet Styles</h6>
        <hr>
        <h1>H1 SemiBold</h1>
        <div style="padding-bottom: 30px;">font-family: Montserrat-SemiBold;<br>font-size: 38px;<br>color:<br>line-height: 48px;</div>
        <h2>H2 SemiBold</h2>
        <div style="padding-bottom: 30px;">font-family: Montserrat-SemiBold;<br>font-size: 32px;<br>color:<br>line-height: 36px;</div>
        <h3>H3 SemiBold</h3>
        <div style="padding-bottom: 30px;">font-family: Montserrat-SemiBold;<br>font-size: 26px;<br>color:<br>line-height: 32px;</div>
        <h4>H4 SemiBold</h4>
        <div style="padding-bottom: 30px;">font-family: Montserrat-SemiBold;<br>font-size: 24px;<br>color:<br>line-height: 28px;</div>
        <h5>H5 SemiBold</h5>
        <div style="padding-bottom: 30px;">font-family: Montserrat-SemiBold;<br>font-size: 20px;<br>color:<br>line-height: 26px;</div>
      </div>
      <div class="col-12 col-md-6">
        <h6>
           Mobile Styles</h6>
        <hr>
        <h1 style="font-size:28px; line-height: 32px; padding-top: 15px;">H1 SemiBold</h1>
        <div style="padding-bottom: 30px;">font-family: Montserrat-SemiBold;<br>font-size: 28px;<br>color:<br>line-height: 32px;</div>
        <h2 style="font-size:26px; line-height: 32px; padding-top: 2px;">H2 SemiBold</h2>
        <div style="padding-bottom: 30px;">font-family: Montserrat-SemiBold;<br>font-size: 26px;<br>color:<br>line-height: 32px;</div>
        <h3 style="font-size:24px; line-height: 28px; padding-top: 2px;">H3 SemiBold</h3>
        <div style="padding-bottom: 30px;">font-family: Montserrat-SemiBold;<br>font-size: 24px;<br>color:<br>line-height: 28px;</div>
        <h4 style="font-size:22px; line-height: 28px; padding-top: 2px;">H4 SemiBold</h4>
        <div style="padding-bottom: 30px;">font-family: Montserrat-SemiBold;<br>font-size: 22px;<br>color:<br>line-height: 28px;</div>
        <h5 style="font-size:20px; line-height: 26px; padding-top: 2px;">H5 SemiBold</h5>
        <div style="padding-bottom: 30px;">font-family: Montserrat-SemiBold;<br>font-size: 20px;<br>color:<br>line-height: 26px;</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12"> <strong>
           ALL DEVICES</strong>
        <hr>
      </div>
      <div class="col-12 col-md-6">
        <h6>H6 SemiBold</h6>
        <div style="padding-bottom: 30px;">font-family: Montserrat-SemiBold;<br>font-size: 18px;<br>color:<br>line-height: 24px;</div><span class="small" style="padding-top: 2px;">Small Text</span>
        <div style="padding-bottom: 30px;">font-family: Montserrat-Regular;<br>font-size: 14px;<br>color:<br>line-height: 20px;</div><span style="font-size:16px; line-height: 24px; padding-top: 2px;">Paragraph</span>
        <div style="padding-bottom: 30px;">font-family: Montserrat-Regular;<br>font-size: 16px;<br>color:<br>line-height: 24px;</div>
      </div>
      <div class="col-12 col-md-6"><span style="font-size:16px; font-weight: 600; line-height: 24px; padding-top: 2px;">Paragraph Bold</span>
        <div style="padding-bottom: 30px;">font-family: Montserrat-SemiBold;<br>font-size: 16px;<br>color:<br>line-height: 24px;</div><span class="small" style="padding-top: 2px;"><a href="#">Small Text Link</a></span>
        <div style="padding-bottom: 30px;">font-family: Montserrat-Regular;<br>font-size: 14px;<br>color: #041E42;<br>line-height: 20px;</div><span style="font-size:16px; color: #041E42; line-height: 24px; padding-top: 2px;"><a href="#">Paragraph Link</a></span>
        <div style="padding-bottom: 30px;">font-family: Montserrat-Regular;<br>font-size: 16px;<br>color: #041E42;<br>line-height: 24px;</div>
      </div>
    </div>
    <footer> </footer>
    <hr>
    <!-- h2 Record of change decisions-->
    <!-- table -->
    <!--   thead -->
    <!--     tr-->
    <!--       th Change date-->
    <!--       th Jira links-->
    <!--       th Change details-->
    <!--   tbody-->
    <!--     tr-->
    <!--       td 15-07-2019-->
    <!--       td -->
    <!--         a(href="https://dec-ce.atlassian.net/browse/GEL-78")-->
    <!--           | https://dec-ce.atlassian.net/browse/GEL-78-->
    <!--       td -->
    <!--         | Updated the externalLinkTagger.js with screen reader only read out for External link and updated links.scss to have 'text-decoration: underline' as default for '#{'<a>'}' tag and reverse for focus and hover.          -->
    <!-- global footer scripts include JQuery-->
    <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script>
    <!-- include any component specific scripts here -->
    <script src="../assets/js/components/externalLinkTagger.js" type="text/javascript"></script>
  </body>
</html>

src/assets/templates/components/typography.pug
//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "TYPOGRAPHY"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  // include link to css for component here 

  body(style="margin: auto; max-width: 1140px; padding: 50px 25px;")


    h2  
      | Typography



    h6 
      | Our Primary Typeface
    hr
    .row
      .col-12.col-md-6
        p
          | Our primary typeface is Montserrat. Designed by Julieta Ulanovsky in 2014, Montserrat is a beautifully simple, open geometric typeface that complements our logo and its distinguishing waratah. Friendly and welcoming, it’s a sans serif font with character, warmth and functionality used across both print and digital.   

        ul
          li 
            | We use Montserrat in 2 weights; Regular and SemiBold
          li
            | For readability, a line of text should never exceed 650px
          li
            | All type should be left aligned

        p
          | You can download the font family from Google Fonts.

        p
          a(href="https://fonts.google.com/specimen/Montserrat?selection.family=Montserrat") 
            | https://fonts.google.com/specimen/Montserrat?selection.family=Montserrat

      .col-12.col-md-6
        p
          | Montserrat Regular
          br
          span(style="word-wrap: break-word;") AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz1234567890+=”:!@#$%^&*?©
        h5
          | Montserrat SemiBold
          br
          span(style="word-wrap: break-word;") AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz1234567890+=”:!@#$%^&*?©

    .row
      .col-12.col-md-6
        h6 
          | Desktop and Tablet Styles
        hr
        h1
          | H1 SemiBold
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-SemiBold;
          br
          | font-size: 38px;
          br
          | color:
          br
          | line-height: 48px;

        h2
          | H2 SemiBold
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-SemiBold;
          br
          | font-size: 32px;
          br
          | color:
          br
          | line-height: 36px;

        h3
          | H3 SemiBold
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-SemiBold;
          br
          | font-size: 26px;
          br
          | color:
          br
          | line-height: 32px;

        h4
          | H4 SemiBold
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-SemiBold;
          br
          | font-size: 24px;
          br
          | color:
          br
          | line-height: 28px;

        h5
          | H5 SemiBold
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-SemiBold;
          br
          | font-size: 20px;
          br
          | color:
          br
          | line-height: 26px;


      .col-12.col-md-6
        h6 
          | Mobile Styles
        hr
        h1(style="font-size:28px; line-height: 32px; padding-top: 15px;")
          | H1 SemiBold
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-SemiBold;
          br
          | font-size: 28px;
          br
          | color:
          br
          | line-height: 32px;

        h2(style="font-size:26px; line-height: 32px; padding-top: 2px;")
          | H2 SemiBold
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-SemiBold;
          br
          | font-size: 26px;
          br
          | color:
          br
          | line-height: 32px;

        h3(style="font-size:24px; line-height: 28px; padding-top: 2px;")
          | H3 SemiBold
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-SemiBold;
          br
          | font-size: 24px;
          br
          | color:
          br
          | line-height: 28px;

        h4(style="font-size:22px; line-height: 28px; padding-top: 2px;")
          | H4 SemiBold
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-SemiBold;
          br
          | font-size: 22px;
          br
          | color:
          br
          | line-height: 28px;

        h5(style="font-size:20px; line-height: 26px; padding-top: 2px;")
          | H5 SemiBold
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-SemiBold;
          br
          | font-size: 20px;
          br
          | color:
          br
          | line-height: 26px;

    .row
      .col-12 
        strong 
          | ALL DEVICES
        hr 

      .col-12.col-md-6

        h6
          | H6 SemiBold
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-SemiBold;
          br
          | font-size: 18px;
          br
          | color:
          br
          | line-height: 24px;

        span.small(style="padding-top: 2px;")
          | Small Text
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-Regular;
          br
          | font-size: 14px;
          br
          | color:
          br
          | line-height: 20px;


        span(style="font-size:16px; line-height: 24px; padding-top: 2px;")
          | Paragraph
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-Regular;
          br
          | font-size: 16px;
          br
          | color:
          br
          | line-height: 24px;

      .col-12.col-md-6

        span(style="font-size:16px; font-weight: 600; line-height: 24px; padding-top: 2px;")
          | Paragraph Bold
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-SemiBold;
          br
          | font-size: 16px;
          br
          | color:
          br
          | line-height: 24px;

        span.small(style="padding-top: 2px;")
          a(href="#") Small Text Link
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-Regular;
          br
          | font-size: 14px;
          br
          | color: #041E42;
          br
          | line-height: 20px;

        span(style="font-size:16px; color: #041E42; line-height: 24px; padding-top: 2px;")
          a(href="#") Paragraph Link
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-Regular;
          br
          | font-size: 16px;
          br
          | color: #041E42;
          br
          | line-height: 24px;

    footer 
    hr
    
    // h2 Record of change decisions
        
    // table 
    //   thead 
    //     tr
    //       th Change date
    //       th Jira links
    //       th Change details

    //   tbody
    //     tr
    //       td 15-07-2019
    //       td 
    //         a(href="https://dec-ce.atlassian.net/browse/GEL-78")
    //           | https://dec-ce.atlassian.net/browse/GEL-78
    //       td 
    //         | Updated the externalLinkTagger.js with screen reader only read out for External link and updated links.scss to have 'text-decoration: underline' as default for '#{'<a>'}' tag and reverse for focus and hover.          

          

      
    // global footer scripts include JQuery
    include ../../pug/components/_global-scripts.pug 
    // include any component specific scripts here 
    script(src='../assets/js/components/externalLinkTagger.js' type='text/javascript')
     
      
    
