dist/index.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="457873e7">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=457873e7" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=457873e7" media="print">
    <title>Index | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head>
  <body>
    <main class="gel-main">
      <div class="container">
        <div class="col">
          <h1>Global Experience Language</h1>
          <h2>Components</h2>
          <p>All components should initially be developed on their own pages and then placed into templates to ensure no clashes.<br>Individual components should be built in the component folder, with an equivalent page with calls to css and js in the pug/template folder</p>
          <h3>Stand alone</h3>
          <ul>
            <li><a href="components/lists.html">Lists</a></li>
            <li><a href="components/lead.html">Lead Paragraph</a></li>
            <li><a href="components/iframe.html">Iframe</a></li>
            <li><a href="components/blockquote.html">Blockquote</a></li>
            <li><a href="components/table.html">Table</a></li>
            <li><a href="components/links.html">Links</a></li>
            <li><a href="components/button.html">Button</a></li>
            <li><a href="components/featured_teaser.html">Featured Teaser</a></li>
            <li><a href="components/news_hub.html">News Hub</a></li>
            <li><a href="components/image-with-caption.html">Image with caption</a></li>
            <li><a href="components/link_columns.html">Link columns</a></li>
            <li><a href="components/link_group.html">Link group</a></li>
            <li><a href="components/content_container.html">Content container</a></li>
            <li><a href="components/tabs.html">Tabs</a></li>
            <li><a href="components/show-hide.html">Show hide</a></li>
            <li><a href="components/download_box.html">Download Box</a></li>
            <li><a href="components/table-of-contents.html">Table of contents</a></li>
            <li><a href="components/drawer.html">Drawer</a></li>
            <li><a href="components/event-calendar.html">Event Calendar</a></li>
            <li><a href="components/search-box.html">Search Box</a></li>
            <li><a href="components/link-columns-description.html">Link column with Description</a></li>
            <li><a href="components/livefyre.html">Livefyre</a></li>
            <li><a href="components/social-from-microservice.html">Social media from microservice</a></li>
            <li><a href="components/input.html">Form Text Inputs</a></li>
            <li><a href="components/select_new.html">Select dropdowns</a></li>
          </ul>
          <h3>Set location</h3>
          <ul>
            <li><a href="components/global_header.html">Global Header</a></li>
            <li><a href="components/global_footer.html">Global Footer</a></li>
            <li><a href="components/section_header.html">Section Header</a></li>
            <li><a href="components/megamenu.html">Meganav Desktop</a></li>
            <li><a href="components/meganav-mobile.html">MegaNav Mobile</a></li>
            <li><a href="components/news_teaser.html">Event/News/Date related teaser</a></li>
            <li><a href="components/highlight_panel.html">Highlight Panel New (for Event/News/Date related teaser)</a></li>
            <li><a href="components/banner.html">Banner</a></li>
            <li><a href="components/landing_header.html">Landing header</a></li>
            <li><a href="components/expanded_nav.html">Expanded Nav / Section Summary</a></li>
            <li><a href="components/notice_ribbon.html">Notice ribbon</a></li>
            <li><a href="components/maintenance_ribbon.html">Maintenance Ribbon</a></li>
            <li><a href="components/alert_ribbon.html">Alert ribbon</a></li>
            <li><a href="components/acknowledgment.html">Acknowledgment</a></li>
            <li><a href="components/social_media_list.html">Social media list</a></li>
            <li><a href="components/section_footer_links_component.html">Section footer</a></li>
            <li><a href="components/secondary-anchor-box-multiple.html">Secondary index multiple</a></li>
            <li><a href="components/secondary-anchor-box-single.html">Secondary index single</a></li>
            <li><a href="components/side-navigation.html">Side Navigation</a></li>
            <li><a href="components/skip_link.html">Skip Link</a></li>
          </ul>
          <h3>Full pages</h3>
          <ul>
            <li><a href="components/results_table.html">Results table</a></li>
            <li>   <a href="components/a-z-list.html">A-Z List </a></li>
            <li>   <a href="components/catalogue.html">Catalogue</a></li>
            <li><span>Guided Journey</span>
              <ul>
                <li><a href="components/guided-journey.html">Guided Journey (with DOM source)</a></li>
                <li><a href="components/guided-journey-network.html">Guided Journey (with NETWORK source)</a></li>
              </ul>
            </li>
            <li>   <a href="components/long_content.html">Long Content Page </a></li>
            <li><a href="components/_search-spa.html">Doe Search</a></li>
          </ul>
          <h3>Layout</h3>
          <ul>
            <li><a href="components/grid.html">Bootstrap Grid  </a></li>
            <li><a href="components/metadata.html">Metadata  </a></li>
            <li><a href="components/pagination.html">Pagination</a></li>
            <li><a href="components/secure_indicator.html">Secure indicator</a></li>
            <li><a href="components/teasers.html">Teasers</a></li>
            <li><a href="components/call_out_box.html">Call Out Box</a></li>
            <li><a href="components/share_this.html">Share this</a></li>
            <li><a href="components/category.html">Category</a></li>
            <li><a href="components/anchor_box.html">Anchor Box</a></li>
            <li><a href="components/breadcrumbs.html">Breadcrumbs</a></li>
            <li><a href="components/alert_ribbon.html">Alert ribbon</a></li>
            <li><a href="components/tag_list.html">Tags</a></li>
            <li><a href="components/a_z_anchors.html">A-Z Anchors</a></li>
            <li><a href="components/grid.html">Grid System</a></li>
            <li><a href="components/typography.html">Typography</a></li>
          </ul>
          <h2>Components by type</h2>
          <ul>
            <li><a href="components/_type_layout.html">Layout components</a></li>
            <li><a href="components/_type_set_location.html">set location Components</a></li>
            <li><a href="components/_type_stand_alone.html">Stand alone components</a></li>
          </ul>
          <h2>Templates</h2>
          <ul>
            <li><a href="components/_template_base.html">Base Template</a></li>
            <li><a href="components/_template_fullwidth.html">Full Width Page Template</a>
              <ul style="padding-left: 30px">
                <li><a href="components/_template_without_sidenav.html">Standard Template Without Sidenav</a></li>
                <li> <a href="components/_template_catalogue.html">Catalogue Template</a></li>
                <li> <a href="components/_template_a-z_list.html">A-Z List Template</a></li>
              </ul>
            </li>
            <li><a href="components/_template_standard.html">Standard Template</a></li>
            <li><a href="components/_template_standard_with_notice_ribbon.html">Standard Template with notice ribbon</a></li>
            <li><a href="components/_template_news_hub.html">News Hub Template</a></li>
          </ul>
          <hr>
          <h2>Release Notes</h2><br>
          <h3>Upcoming</h3><br>
          <h3>Released</h3>
          <h4>1.0.1</h4>
          <ul>
            <li><a href="https://bitbucket.org/dec-ce/gel/pull-requests/1/master-release-101/diff">Initial release of GEL components and templates for integration to AEM</a></li>
          </ul>
          <h4>1.0.2 - 1.0.16</h4>
          <ul>
            <li><a href="https://bitbucket.org/dec-ce/gel/pull-requests/5/master-release-1016/diff">Updates on GEL components and templates for </a></li>
          </ul>
          <h4>1.1.1 - 1.1.8</h4>
          <ul>
            <li><a href="https://bitbucket.org/dec-ce/gel/pull-requests/6/master-release-1117/diff">Updates on GEL components and templates for Release 1.1 (Post Go Live)  </a></li>
          </ul>
        </div>
      </div>
    </main>
    <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script>
  </body>
</html>

src/index.pug
//--- INCLUDES
//---------------------------------------------------------

include assets/pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Index"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include assets/pug/components/_global-head-component.pug

  body
    main.gel-main
      div.container
        div.col
          h1 Global Experience Language
          h2 Components
          p All components should initially be developed on their own pages and then placed into templates to ensure no clashes.
            br
            | Individual components should be built in the component folder, with an equivalent page with calls to css and js in the pug/template folder

          h3 Stand alone
          ul
            li
              a(href="components/lists.html") Lists
            li
              a(href="components/lead.html") Lead Paragraph
            li
              a(href="components/iframe.html") Iframe
            li
              a(href="components/blockquote.html") Blockquote
            li
              a(href="components/table.html") Table
            li
              a(href="components/links.html") Links
            li
              a(href="components/button.html") Button
            li
              a(href="components/featured_teaser.html") Featured Teaser
            li
              a(href="components/news_hub.html") News Hub
            li
              a(href="components/image-with-caption.html") Image with caption
            li
              a(href="components/link_columns.html") Link columns
            li
              a(href="components/link_group.html") Link group
            li
              a(href="components/content_container.html") Content container
            li
              a(href="components/tabs.html") Tabs
            li
              a(href="components/show-hide.html") Show hide
            li
              a(href="components/download_box.html") Download Box
            li
              a(href="components/table-of-contents.html") Table of contents
            li
              a(href="components/drawer.html") Drawer
            li
              a(href="components/event-calendar.html") Event Calendar
            li
              a(href="components/search-box.html") Search Box
            li
              a(href="components/link-columns-description.html") Link column with Description
            li
              a(href="components/livefyre.html") Livefyre
            li
              a(href="components/social-from-microservice.html") Social media from microservice
            li
              a(href="components/input.html") Form Text Inputs
            li
              a(href="components/select_new.html") Select dropdowns

          h3 Set location
          ul
            li
              a(href="components/global_header.html") Global Header
            li
              a(href="components/global_footer.html") Global Footer
            li
              a(href="components/section_header.html") Section Header
            li
              a(href="components/megamenu.html") Meganav Desktop
            li
              a(href="components/meganav-mobile.html") MegaNav Mobile
            li
              a(href="components/news_teaser.html") Event/News/Date related teaser
            li
              a(href="components/highlight_panel.html") Highlight Panel New (for Event/News/Date related teaser)
            li
              a(href="components/banner.html") Banner
            li
              a(href="components/landing_header.html") Landing header
            li
              a(href="components/expanded_nav.html") Expanded Nav / Section Summary
            li
              a(href="components/notice_ribbon.html") Notice ribbon
            li
              a(href="components/maintenance_ribbon.html") Maintenance Ribbon
            li
              a(href="components/alert_ribbon.html") Alert ribbon
            li
              a(href="components/acknowledgment.html") Acknowledgment
            li
              a(href="components/social_media_list.html") Social media list
            li
              a(href="components/section_footer_links_component.html") Section footer
            li
              a(href="components/secondary-anchor-box-multiple.html") Secondary index multiple
            li
              a(href="components/secondary-anchor-box-single.html") Secondary index single
            li
              a(href="components/side-navigation.html") Side Navigation
            li
              a(href="components/skip_link.html") Skip Link

          h3 Full pages
          ul
            li
              a(href="components/results_table.html") Results table
            li    
              a(href="components/a-z-list.html") A-Z List 
            li    
              a(href="components/catalogue.html") Catalogue
            li
              span Guided Journey
              ul
                li
                  a(href="components/guided-journey.html") Guided Journey (with DOM source)
                li
                  a(href="components/guided-journey-network.html") Guided Journey (with NETWORK source)
            li    
              a(href="components/long_content.html") Long Content Page 
            li
              a(href="components/_search-spa.html") Doe Search
          
          h3 Layout
          ul
            li
              a(href="components/grid.html") Bootstrap Grid  
            li
              a(href="components/metadata.html") Metadata  
            li
              a(href="components/pagination.html") Pagination
            li
              a(href="components/secure_indicator.html") Secure indicator
            li
              a(href="components/teasers.html") Teasers
            li
              a(href="components/call_out_box.html") Call Out Box
            li
              a(href="components/share_this.html") Share this
            li
              a(href="components/category.html") Category
            li
              a(href="components/anchor_box.html") Anchor Box
            li
              a(href="components/breadcrumbs.html") Breadcrumbs
            li
              a(href="components/alert_ribbon.html") Alert ribbon
            li
              a(href="components/tag_list.html") Tags
            li
              a(href="components/a_z_anchors.html") A-Z Anchors
            li
              a(href="components/grid.html") Grid System

            li
              a(href="components/typography.html") Typography
            
          h2 Components by type
          ul
            li
              a(href="components/_type_layout.html") Layout components
            li
              a(href="components/_type_set_location.html") set location Components
            li
              a(href="components/_type_stand_alone.html") Stand alone components

          h2 Templates
          ul
            li
              a(href="components/_template_base.html") Base Template
            li
              a(href="components/_template_fullwidth.html") Full Width Page Template
              ul(style="padding-left: 30px")
                li
                  a(href="components/_template_without_sidenav.html") Standard Template Without Sidenav
                li 
                  a(href="components/_template_catalogue.html") Catalogue Template
                li 
                  a(href="components/_template_a-z_list.html") A-Z List Template
            li
              a(href="components/_template_standard.html") Standard Template
            li
              a(href="components/_template_standard_with_notice_ribbon.html") Standard Template with notice ribbon
            li
              a(href="components/_template_news_hub.html") News Hub Template
          hr

          h2 Release Notes
          br
          h3 Upcoming
          br
          h3 Released
          h4 1.0.1
          ul
            li
              a(href="https://bitbucket.org/dec-ce/gel/pull-requests/1/master-release-101/diff") Initial release of GEL components and templates for integration to AEM
          h4 1.0.2 - 1.0.16
          ul
            li
              a(href="https://bitbucket.org/dec-ce/gel/pull-requests/5/master-release-1016/diff") Updates on GEL components and templates for 
          h4 1.1.1 - 1.1.8
          ul
            li
              a(href="https://bitbucket.org/dec-ce/gel/pull-requests/6/master-release-1117/diff") Updates on GEL components and templates for Release 1.1 (Post Go Live)  
  
    include assets/pug/components/_global-scripts.pug
