dist/components/catalogue.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="457873e7">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=457873e7" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=457873e7" media="print">
    <title>Catalogue | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head><!-- include link to css for component here //-->
  <body>
    <h2>
       Catalogue</h2><!-- start component //-->
    <div id="catalogue_auto">
      <div class="container">
        <div class="row gel-catalogue">
          <nav class="col col-md-12 col-lg-3 d-none d-lg-block">
            <h2 class="black">Browse by </h2>
            <ul class="gel-category-list">
              <li><a class="active" href="0">One </a></li>
              <li><a href="0">His </a></li>
              <li><a href="0">His </a></li>
              <li><a href="0">and </a></li>
              <li><a href="0">Drops </a></li>
              <li><a href="0">He </a></li>
              <li><a href="0">One </a></li>
            </ul>
          </nav>
          <div class="col col-md-12 col-lg-9 pl-lg-5">
            <form>
              <div class="gel-form gel-form--inline col-lg-10 no-gutters" id="frm01" action="" method="GET">
                <fieldset>
                  <legend class="show-on-sr">Catalogue sort options</legend>
                  <label class="d-lg-none" for="436">Browse by
                  </label>
                  <select class="d-lg-none" id="436" name="436" data-gel-auto-submit="data-gel-auto-submit">
                    <option value="0">His many 
                    </option>
                    <option value="1">His room 
                    </option>
                    <option value="2">and above 
                    </option>
                    <option value="3">Drops of 
                    </option>
                    <option value="4">He must 
                    </option>
                    <option value="5">One morning 
                    </option>
                    <option value="6">His many 
                    </option>
                    <option value="7">His room 
                    </option>
                  </select>
                  <label for="383">Sort by
                  </label>
                  <select id="383" name="383" data-gel-auto-submit2="data-gel-auto-submit2">
                    <option value="0">and above 
                    </option>
                    <option value="1">Drops of 
                    </option>
                    <option value="2">He must 
                    </option>
                    <option value="3">One morning 
                    </option>
                    <option value="4">His many 
                    </option>
                    <option value="5">His room 
                    </option>
                  </select>
                  <input class="btn gel-button gel-button-primary gel-button-small" type="submit" id="sub01" name="sub01" value="Filter"/>
                </fieldset>
              </div>
            </form>
            <nav class="gel-vc-icons">
              <h3 class="show-on-sr">Visual control icons</h3>
              <button class="gel-vc-btn fa-th-icon active" aria-label="View items in a grid" title="View items in a grid" data-gel-class-toggle="gel-flex-grid--columns" data-gel-class-toggle-target=".gel-flex-grid" data-gel-class-toggle-disable="disable"><span class="invisible">grid view</span></button>
              <button class="gel-vc-btn fa-list-icon" aria-label="View items in a list" title="View items in a list" data-gel-class-toggle="gel-flex-grid--columns" data-gel-class-toggle-target=".gel-flex-grid" data-gel-class-toggle-disable="disable"><span class="invisible">list view</span></button>
            </nav>
            <hr class="mt-1 mb0"/>
            <div aria-live="polite"> 
              <ul class="gel-flex-grid gel-flex-grid--columns gel-flex-grid--columns-2">
                <li class="d-flex"><a class="gel-featured-teaser-link d-flex flex-1 mb-3" href="#">
                        <div class="card gel-featured-teaser_variant" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt=""/>
                          <div class="card-body gel-featured-teaser__content_variant">      
                            <h4 class="card-title">and above it there hung.
                            </h4>
                            <p>Drops of rain could be heard hitting the pane, which made him feel quite sad..
                            </p>
                            <p class="gel-featured-teaser__price">$XXX.XX <span class="gel-featured-teaser-font-normal">(exc. GST)<span></p>
                            <div class="gel-featured-teaser__arrow"><span class="far fa-long-arrow-right"></span></div>
                          </div>
                        </div></a>
                </li>
                <li class="d-flex"><a class="gel-featured-teaser-link d-flex flex-1 mb-3" href="#">
                        <div class="card gel-featured-teaser_variant" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt=""/>
                          <div class="card-body gel-featured-teaser__content_variant">      
                            <h4 class="card-title">He must have tried it.
                            </h4>
                            <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his.
                            </p>
                            <p class="gel-featured-teaser__price">$XXX.XX <span class="gel-featured-teaser-font-normal">(exc. GST)<span></p>
                            <div class="gel-featured-teaser__arrow"><span class="far fa-long-arrow-right"></span></div>
                          </div>
                        </div></a>
                </li>
                <li class="d-flex"><a class="gel-featured-teaser-link d-flex flex-1 mb-3" href="#">
                        <div class="card gel-featured-teaser_variant" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt=""/>
                          <div class="card-body gel-featured-teaser__content_variant">      
                            <h4 class="card-title">His many legs, pitifully thin.
                            </h4>
                            <p>His room, a proper human room although a little too small, lay peacefully between its.
                            </p>
                            <p class="gel-featured-teaser__price">$XXX.XX <span class="gel-featured-teaser-font-normal">(exc. GST)<span></p>
                            <div class="gel-featured-teaser__arrow"><span class="far fa-long-arrow-right"></span></div>
                          </div>
                        </div></a>
                </li>
                <li class="d-flex"><a class="gel-featured-teaser-link d-flex flex-1 mb-3" href="#">
                        <div class="card gel-featured-teaser_variant" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt=""/>
                          <div class="card-body gel-featured-teaser__content_variant">      
                            <h4 class="card-title">and above it there hung.
                            </h4>
                            <p>Drops of rain could be heard hitting the pane, which made him feel quite sad..
                            </p>
                            <p class="gel-featured-teaser__price">$XXX.XX <span class="gel-featured-teaser-font-normal">(exc. GST)<span></p>
                            <div class="gel-featured-teaser__arrow"><span class="far fa-long-arrow-right"></span></div>
                          </div>
                        </div></a>
                </li>
                <li class="d-flex"><a class="gel-featured-teaser-link d-flex flex-1 mb-3" href="#">
                        <div class="card gel-featured-teaser_variant" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt=""/>
                          <div class="card-body gel-featured-teaser__content_variant">      
                            <h4 class="card-title">He must have tried it.
                            </h4>
                            <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his.
                            </p>
                            <p class="gel-featured-teaser__price">$XXX.XX <span class="gel-featured-teaser-font-normal">(exc. GST)<span></p>
                            <div class="gel-featured-teaser__arrow"><span class="far fa-long-arrow-right"></span></div>
                          </div>
                        </div></a>
                </li>
              </ul>
            </div>
            <nav>
              <ul class="gel-pagination">
                <li class="gel-pagination__prev gel-pagination__disabled"><a href="#" title="Previous page" aria-label="Previous page"><span>Previous</span></a></li>
                <li class="gel-pagination__disabled gel-pagination__active"><a href="#" tabindex="0" aria-label="Current Page 1" role="link">1</a></li>
                <li><a href="#" title="Page 2" aria-label="Page 2">2</a></li>
                <li><a href="#" title="Page 3" aria-label="Page 3">3</a></li>
                <li><a href="#" title="Page 4" aria-label="Page 4">4</a></li>
                <li><a href="#" title="Page 5" aria-label="Page 5">5</a></li>
                <li class="gel-pagination__more gel-pagination__disabled"><span href="#">...</span></li>
                <li class="gel-pagination__next"><a href="#" title="Next page" aria-label="Next page"><span>Next</span></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="spacer"></div><!-- end component //-->
    </div>
    <footer> </footer>
    <hr>
    <h2>Record of change decisions</h2>
    <table> 
      <thead> 
        <tr>
          <th>Change date</th>
          <th>Jira links</th>
          <th>Change details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>13-05-2019</td>
          <td> <a href="https://dec-ce.atlassian.net/browse/GEL-38">https://dec-ce.atlassian.net/browse/GEL-38</a></td>
          <td>Description to go here</td>
        </tr>
      </tbody>
    </table><!-- global footer scripts include JQuery //-->
    <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script><!-- include any component specific scripts here //-->
    <script src="../assets/js/utilities/classToggle.js" type="text/javascript"></script>
    <script src="../assets/js/components/catalogueForm.js" type="text/javascript"></script>
    <script src="../assets/js/components/catalogue.js" type="text/javascript"> </script>
  </body>
</html>

src/assets/pug/components/catalogue.pug
//--- *************** ---//
//--- CATALOGUE ---//
//--- *************** ---//

//- A component which displays a list of catalogue item previews in either a grid or vertical list view. Options to remove LHS Category navigation

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {int} num - number of items to display
  | //- @param {boolean} category_nav - show category navigation if true, and display a 3 column grid. Otherwise display a 4 column grid.
  | +gel_catalogue(12, true)


mixin usage
  pre
    code.language-jade
      +documentation


//--- MIXINS ---//
//---------------------------------------------------------


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gel_catalogue(num, category_nav)

  div.row.gel-catalogue

    if (category_nav != true)
      - var columns = "4"
      - var grid_columns = 4
    else
      //--- Show Category List
      - var columns = "2"
      - var grid_columns = 2

      nav.col.col-md-12.col-lg-3.d-none.d-lg-block

        h2.black Browse by 
        //--- .uk-h5.uk-margin-bottom.uk-margin-small-top

        +gel_category_list(7)

    //--- Catalogue Listing

    div.col.col-md-12.col-lg-9.pl-lg-5

      //--- Form
      form
        div.gel-form.gel-form--inline.col-lg-10.no-gutters(id="frm01" action="" method="GET")
          fieldset
            legend.show-on-sr Catalogue sort options
            +gel_select("Browse by", 8, 1, 1)
            +gel_select("Sort by", 6)
            input(type="submit" id="sub01" name="sub01" value="Filter" class="btn gel-button gel-button-primary gel-button-small")


      //--- View control icons
      nav.gel-vc-icons
        h3.show-on-sr
          | Visual control icons
        button(aria-label="View items in a grid" title="View items in a grid" class="gel-vc-btn fa-th-icon active" data-gel-class-toggle="gel-flex-grid--columns" data-gel-class-toggle-target=".gel-flex-grid" data-gel-class-toggle-disable="disable")
          span.invisible= "grid view"
        button(aria-label="View items in a list" title="View items in a list" class="gel-vc-btn fa-list-icon" data-gel-class-toggle="gel-flex-grid--columns" data-gel-class-toggle-target=".gel-flex-grid" data-gel-class-toggle-disable="disable")
          span.invisible= "list view"

      hr.mt-1.mb0
      
      //--- Catalogue List
      mixin gel_flex_grid_mixin
        +gel_catalogue_teaser("default")

      div(aria-live="polite")  
        +gel_flex_grid(num, "columns", grid_columns)

      //--- Pagination
      +gel_pagination(5, "center")
