src/assets/pug/components/event-calendar.pug
mixin event_calendar(border)
  if border
    -var classVariation = "gel-highlight-panels__panel"
  else
    -var classVariation = "gel-highlight-panels__panel gel-highlight-panels__panel--noborder"


  div.gel-calendar(class=classVariation)
    div.gel-highlight-panels__image
      a(href="#" class="gel-remove-external-link")
        img(src="https://education.nsw.gov.au/__data/assets/image/0020/861113/Calendar-Apr-2019.jpg" alt="April 2019")
    
    div.gel-block__header
      h2
        | School calendar
    div.gel-highlight-panels__content
      ul
        li.gel-events-type-1     

          time
            strong 
              | 1  
              span.show-on-sr January
              span(aria-hidden="true") 
                | Jan
              |  - 28 
              span.show-on-sr January
              span(aria-hidden="true") 
                | Jan:
          span.event-details 
            | School Holidays

        li.gel-events-type-2        

          time
            strong 
              | 29 Jan and 12 Apr:
            span.event-details 
              | Additional school holiday dates Western division

        li.gel-events-type-3             

          time
            strong 
              | 26
              span.show-on-sr January
              span(aria-hidden="true") 
                | Jan:  
          span.event-details 
            | Australia day

        li.gel-events-type-4       

          time
            strong 
              | 29
              span.show-on-sr January
              span(aria-hidden="true") 
                | Feb:  
          span.event-details 
            | School Development day

        li.gel-events-type-5   

          time
            strong 
              | 6
              span.show-on-sr February
              span(aria-hidden="true") 
                | Feb:  
          span.event-details 
            | Other Options with no icon


        li.gel-events-type-6       

          time
            strong 
              | 16
              span.show-on-sr February
              span(aria-hidden="true") 
                | Feb:  
            span.event-details 
              | Term 1 2019 starts for students – Western division

        li       

          time
            strong 
              | 26 Feb:
            span.event-details 
              | Default option

      div.gel-smaller-text 
        p
          | Check with your local school as some dates may change.
        
    div.gel-highlight-panels-bottominfo
    
      div.gel-highlight-panels-moreinfo
        
        a(href="#") 
          span Full calendar

dist/components/event-calendar.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="457873e7">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=457873e7" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=457873e7" media="print">
    <title>Event Calendar | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head><!-- include link to css for component here //-->
  <body>
    <h2>
       Event Calendar</h2><!-- start component //-->
    <div id="event-calendar">
      <h3>With Border (For home page)</h3>
      <div class="container">
        <div class="gel-highlight-features row">
          <div class="gel-highlight-feature-panel gel-highlight-panels__variation gel-match-height col-md">
            <div class="gel-calendar gel-highlight-panels__panel">
              <div class="gel-highlight-panels__image"><a class="gel-remove-external-link" href="#"><img src="https://education.nsw.gov.au/__data/assets/image/0020/861113/Calendar-Apr-2019.jpg" alt="April 2019"/></a></div>
              <div class="gel-block__header">
                <h2>School calendar</h2>
              </div>
              <div class="gel-highlight-panels__content">
                <ul>
                  <li class="gel-events-type-1">    
                    <time><strong>
                         1  <span class="show-on-sr">January</span><span aria-hidden="true">
                           Jan</span> - 28 <span class="show-on-sr">January</span><span aria-hidden="true">
                           Jan:</span></strong></time><span class="event-details">
                       School Holidays</span>
                  </li>
                  <li class="gel-events-type-2">       
                    <time><strong>
                         29 Jan and 12 Apr:</strong><span class="event-details">
                         Additional school holiday dates Western division</span></time>
                  </li>
                  <li class="gel-events-type-3">            
                    <time><strong>
                         26<span class="show-on-sr">January</span><span aria-hidden="true">
                           Jan:  </span></strong></time><span class="event-details">
                       Australia day</span>
                  </li>
                  <li class="gel-events-type-4">      
                    <time><strong>
                         29<span class="show-on-sr">January</span><span aria-hidden="true">
                           Feb:  </span></strong></time><span class="event-details">
                       School Development day</span>
                  </li>
                  <li class="gel-events-type-5">  
                    <time><strong>
                         6<span class="show-on-sr">February</span><span aria-hidden="true">
                           Feb:  </span></strong></time><span class="event-details">
                       Other Options with no icon</span>
                  </li>
                  <li class="gel-events-type-6">      
                    <time><strong>
                         16<span class="show-on-sr">February</span><span aria-hidden="true">
                           Feb:  </span></strong><span class="event-details">
                         Term 1 2019 starts for students – Western division</span></time>
                  </li>
                  <li>      
                    <time><strong>
                         26 Feb:</strong><span class="event-details">
                         Default option</span></time>
                  </li>
                </ul>
                <div class="gel-smaller-text"> 
                  <p>Check with your local school as some dates may change.</p>
                </div>
              </div>
              <div class="gel-highlight-panels-bottominfo">
                <div class="gel-highlight-panels-moreinfo"><a href="#"> <span>Full calendar</span></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3>Without Border (For section pages)</h3>
      <div class="container">
        <div class="row">
          <div class="gel-calendar gel-highlight-panels__panel gel-highlight-panels__panel--noborder">
            <div class="gel-highlight-panels__image"><a class="gel-remove-external-link" href="#"><img src="https://education.nsw.gov.au/__data/assets/image/0020/861113/Calendar-Apr-2019.jpg" alt="April 2019"/></a></div>
            <div class="gel-block__header">
              <h2>School calendar</h2>
            </div>
            <div class="gel-highlight-panels__content">
              <ul>
                <li class="gel-events-type-1">    
                  <time><strong>
                       1  <span class="show-on-sr">January</span><span aria-hidden="true">
                         Jan</span> - 28 <span class="show-on-sr">January</span><span aria-hidden="true">
                         Jan:</span></strong></time><span class="event-details">
                     School Holidays</span>
                </li>
                <li class="gel-events-type-2">       
                  <time><strong>
                       29 Jan and 12 Apr:</strong><span class="event-details">
                       Additional school holiday dates Western division</span></time>
                </li>
                <li class="gel-events-type-3">            
                  <time><strong>
                       26<span class="show-on-sr">January</span><span aria-hidden="true">
                         Jan:  </span></strong></time><span class="event-details">
                     Australia day</span>
                </li>
                <li class="gel-events-type-4">      
                  <time><strong>
                       29<span class="show-on-sr">January</span><span aria-hidden="true">
                         Feb:  </span></strong></time><span class="event-details">
                     School Development day</span>
                </li>
                <li class="gel-events-type-5">  
                  <time><strong>
                       6<span class="show-on-sr">February</span><span aria-hidden="true">
                         Feb:  </span></strong></time><span class="event-details">
                     Other Options with no icon</span>
                </li>
                <li class="gel-events-type-6">      
                  <time><strong>
                       16<span class="show-on-sr">February</span><span aria-hidden="true">
                         Feb:  </span></strong><span class="event-details">
                       Term 1 2019 starts for students – Western division</span></time>
                </li>
                <li>      
                  <time><strong>
                       26 Feb:</strong><span class="event-details">
                       Default option</span></time>
                </li>
              </ul>
              <div class="gel-smaller-text"> 
                <p>Check with your local school as some dates may change.</p>
              </div>
            </div>
            <div class="gel-highlight-panels-bottominfo">
              <div class="gel-highlight-panels-moreinfo"><a href="#"> <span>Full calendar</span></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div><!-- end component //-->
    </div>
    <footer> </footer>
    <hr>
    <h2>Record of change decisions</h2>
    <table> 
      <thead> 
        <tr>
          <th>Change date</th>
          <th>Jira links</th>
          <th>Change details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>18-06-2019</td>
          <td> <a href="https://dec-ce.atlassian.net/browse/GEL-56">https://dec-ce.atlassian.net/browse/GEL-56</a></td>
          <td>Description to go here</td>
        </tr>
      </tbody>
    </table><!-- global footer scripts include JQuery //-->
    <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script><!-- include any component specific scripts here //-->
  </body>
</html>
