dist/components/guided-journey.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="457873e7">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=457873e7" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=457873e7" media="print">
    <title>Guided Journey | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head>
  <body>
    <h2>Guided Journey</h2><!-- start component //-->
    <script>
      var guided_journey_endpoint_matrix = null;
      var loading_message_matrix = "<p>Please wait while page is being generated</p>";
      var error_message_matrix = "<p>There has been a problem , please log a ticket in Zendesk</p>";
      
      var sampleContent = [ /* { asset_id, label, content } */ ];
      
      
    </script>
    <main class="gel-main gel-main--GJ">
      <div class="container">
        <div class="row no-gutter">
          <!-- - Content Area-->
          <article class="col-12 gel-main-content">
            <div class="d-block gel-block p-0">
              <div class="container">
                <div class="gel-GJ-container">
                  <!-- - * unsure about the .no-gutter attribute-->
                  <div class="row no-gutter">
                    <div class="col-12 col-md-4 col-lg-3 gel-lhs gel-GJ-index">
                      <nav class="d-none d-md-block" aria-lable="side navigation">
                        <div class="gel-side-navigation">
                          <ul class="mb-0">
                            <li class="sn_parent gel-side-navigation-upper"><a href="#">Previous<span class="sr-only">Page</span><span class="gel-icon-chevron-left" aria-hidden="true"></span></a></li>
                          </ul>
                          <ol class="sn__guided-journey">
                            <li class="sn_parent"><a href="#landing"><span class="sr-only">This is step 1 of 9</span>Introduction</a></li>
                            <li class="sn_parent"><a href="#/asset1"><span class="sr-only">This is step 2 of 9</span>Form a school term</a></li>
                            <li class="sn_parent"><a href="#/asset2"><span class="sr-only">This is step 3 of 9</span>Engage the school community</a></li>
                            <li class="sn_parent"><a href="#/asset3"><span class="sr-only">This is step 4 of 9</span>Develop a 'statement of purpose'</a></li>
                            <li class="sn_parent"><a href="#/asset4"><span class="sr-only">This is step 5 of 9</span>Develop a shared understanding</a></li>
                            <li class="sn_parent"><a href="#/asset5"><span class="sr-only">This is step 6 of 9</span>Develop or revise the school Anti-bullying Plan</a></li>
                            <li class="sn_parent"><a href="#/asset6"><span class="sr-only">This is step 7 of 9</span>Publication and promotion</a></li>
                            <li class="sn_parent"><a href="#/asset7"><span class="sr-only">This is step 8 of 9</span>Resources</a></li>
                            <li class="sn_parent"><a href="#/asset8"><span class="sr-only">This is step 9 of 9</span>ThisIsAGuidedJourneyPageWithALongTitle</a></li>
                          </ol>
                        </div>
                      </nav>
                    </div>
                    <div class="col-12 col-md-8 col-lg-7">
                      <h1 class="gel-GJ-title mt-0">Anti-bullying guidelines</h1>
                      <nav class="d-block d-md-none gel_guided-journey__mobile-nav" role="navigation">
                        <form class="gel-form">
                          <label class="h6 gel-anchor-box__title" for="gel-journey-index-select">Select a section</label>
                          <div class="gel-select-wrap">
                            <select id="gel-journey-index-select" name="gel-journey-index-select"></select>
                            <!-- Contents is always automatically generated-->
                          </div>
                          <button class="btn gel-button gel-button-primary gel-button-small" type="submit" aria-label="Go to section">Go to section</button>
                        </form>
                      </nav>
                      <div class="gel-guided-journey__content">
                        <div class="gel-loading d-none"></div>
                        <div class="gel-guided-journey__page d-none" data-gel-asset-id="landing">
                          <p class="lead">This guideline can be used by navigating through any part via the menu or by using the previous and next buttons at the bottom of the page.</p>
                          <h2>Introduction</h2>
                          <h3>What is this?</h3>
                          <p>This is a policy guideline that requires schools to develop protection, prevention, early intervention and response strategies for student bullying in NSW Government Schools.</p>
                          <h3>Who is it for?</h3>
                          <p>Teachers wanting to create, manage, and implement anti- bullying measures in the school and school community.</p>
                          <p>Parents who wish to understand the stra tegic approach.</p>
                          <h3>How to use it?</h3>
                          <p>Collaborate with your senior staff members to formulate a plan using this online guideline.</p>
                          <h4>Download PDF</h4>
                          <p><a href="#">Anti-bullying guidelines.pdf</a></p><a class="gel-skiplink__link" href="#back_">Back to menu</a>
                        </div>
                        <div class="gel-guided-journey__page d-none" data-gel-asset-id="/asset1">
                          <h2>Form a school team</h2>
                          <p>The role of the school team is to facilitate the development and revision process. The team should be led by the principal or their nominee, who remains responsible for the final decisions relating to the school Anti- bullying Plan.</p>
                          <p>It is important to have representatives from across the schools, including teachers, executive, students and parents, as well as other community members. It is also important to ensure representation for those students who have special needs or who are at risk due to their cultural, ethnic or socioeconomic background.</p>
                          <h3>Focus questions</h3>
                          <p>Who are the key stakeholders in our school community?</p>
                          <p>* How will you ensure representation from the whole school community?</p>
                          <p>* What expertise is required to assist the team to successfully complete its task?</p>
                          <p>* How should the team members be selected?</p>
                          <p>Groups to consider include students; staff; parents; and community members (eg community organisations that work with the school, and the cultural groups that make up the school community).</p>
                        </div>
                        <div class="gel-guided-journey__page d-none" data-gel-asset-id="/asset2">
                          <h2>Engage the school community</h2>
                          <p>School communities need to work together to recognise, challenge and change inequalities that fuel bullying and harassment within the school and to build trust and respect between all groups.</p>
                          <p>By doing this, we are better placed to meet the needs of all students and contribute to a socially just environment.</p>
                          <p>The school team should undertake ongoing and wide consultation with the school community. The team should present the information it has gathered, and the plan it is developing, to the school community for consideration at various stages throughout the process.</p>
                          <h3>Focus questions</h3>
                          <p>* How will you achieve a whole school approach that engages all sectors of the school community?</p>
                          <p>* At what stages throughout the process will the school community be consulted?</p>
                          <p>* What data will be presented? (Consider sensitivity and privacy issues related to some data).</p>
                          <p>* What questions should be asked to facilitate understanding and generate ideas? (Especially important for developing shared understanding of some issues including protection and prevention, online bullying, power relationships, bystander issues and response to bullying issues).</p>
                          <p>* How will perceived concerns be addressed?</p>
                        </div>
                        <div class="gel-guided-journey__page d-none" data-gel-asset-id="/asset3">
                          <h2>Develop a ‘statement of purpose’</h2>
                          <p>A 'statement of purpose' should be included at the beginning of the school's Anti-bullying Plan. This statement outlines the aims of the school and the key beliefs or principles upon which the plan is based.</p>
                          <p>Preventing and responding to bullying behaviour in learning environments is a shared responsibility between all staff, students, parents/caregivers and members of the wider school community.</p>
                          <p>All members of the school community contribute to the prevention of bullying by modelling appropriate behaviour and respectful relationships.</p>
                          <h3>Focus questions</h3>
                          <p>* What principles should underpin the school's antibullying practices?</p>
                          <p>* What outcomes does the community want the Antibullying Plan to achieve?</p>
                          <p>* Do all the policies, programs and practices within the school work together to achieve these outcomes?</p>
                        </div>
                        <div class="gel-guided-journey__page d-none" data-gel-asset-id="/asset4">
                          <h2>Develop a shared understanding</h2>
                          <p>When undertaken reflectively and collaboratively, this process can build the trust and respect needed for individuals and groups to safely challenge and change inequalities within the school. The school can then address the needs of all students and foster an inclusive school culture. Development of a working group with a diverse representation from the school community can facilitate a shared understanding of what bullying is. To succeed in creating a shared understanding it may be helpful to:</p>
                          <p>BUILD KNOWLEDGE AND UNDERSTANDING</p>
                          <p>GATHER AND ANALYSE INFORMATION
                            <h3>Focus questions</h3>
                          </p>
                          <p>* Are all aspects of the current school Anti-bullying Plan consistent with the Bullying: Preventing and Responding to Student Bullying Policy and other relevant Departmental policies and plans.</p>
                          <p>* Which school trend data should be considered?</p>
                        </div>
                        <div class="gel-guided-journey__page d-none" data-gel-asset-id="/asset5">
                          <h2>Develop or revise the school Anti-bullying Plan</h2>
                          <p>Include protection, prevention, early intervention and response strategies for student bullying.</p>
                          <p>Identify the series of strategies that will comprise your new or revised Anti- bullying Plan. Write up a plan to reflect the strategies that the team has identified.</p>
                          <p>Your plan should be in a format that clearly identifies, for example, your expected outcomes, targets, strategies and timeframe. Expand the fine detail of each strategy in your plan.</p>
                          <p>Discuss the plan and each of the individual strategies with those people who will be involved in its implementation.</p>
                          <h3>Focus questions</h3>
                          <p>* Do the strategies support and reflect the aims and beliefs articulated in the ‘statement of purpose’?</p>
                          <p>* Are there strategies for each of the areas for action required?</p>
                          <p>* Does the plan include processes to evaluate and review each strategy</p>
                          <p>as well as the plan as a whole?</p>
                        </div>
                        <div class="gel-guided-journey__page d-none" data-gel-asset-id="/asset6">
                          <h2>Publication and promotion</h2>
                          <p>Your school may find the Antibullying Plan Template useful for publishing your plan for your school community.</p>
                          <h3>Focus questions</h3>
                          <p>* How will you publish and promote the new Plan within the school community?</p>
                          <p>* Into which community languages does the school’s Anti-bullying Plan need to be translated?</p>
                          <h3>Example Show Hide</h3>
                          <div class="gel-show-hide" id="accordion">
                            <div class="card">
                              <div class="card-header" id="heading0">
                                <h3 class="gel-show-hide_title">
                                  <button class="gel-show-hide_link btn-block" data-toggle="collapse" data-target="#collapse-0" aria-expanded="false" aria-controls="collapse-0"><i></i><i class="vertical"></i>Nullan non</button>
                                </h3>
                              </div>
                              <div class="collapse" id="collapse-0" aria-labelledby="heading0">
                                <div class="card-body">
                                  <p>Vivamus luctus egestas leo. Maecenas sollicitudin nullam rhoncus aliquam metus. Etiam egestas wisi a erat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam feugiat, turpis at pulvinar vulputate erat libero tristique tellus, nec bibendum odio risus sit amet ante. Aliquam erat volutpat. Nunc auctor, Mauris pretium quam et urna. Fusce nibh, curabitur sagittis hendrerit ante. Aliquam erat volutpat. Vestibulum erat nulla, ullamcorper nec rutrum nonummy ac erat.</p>
                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="heading1">
                                <h3 class="gel-show-hide_title">
                                  <button class="gel-show-hide_link btn-block" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1"><i></i><i class="vertical"></i>Duis condimentum augue</button>
                                </h3>
                              </div>
                              <div class="collapse" id="collapse-1" aria-labelledby="heading1">
                                <div class="card-body">
                                  <p>Fusce consectetuer risus a nunc. Aliquam ornare wisi eu metus. Integer pellentesque quam vel velit. Morbi gravida libero nec velit. Morbi scelerisque luctus velit. Etiam dui sem, fermentum vitae sagittis id malesuada in quam. Proin mattis lacinia justo. Vestibulum facilisis auctor urna. Aliquam in lorem sit amet leo accumsan lacinia. Integer rutrum, orci vestibulum ullamcorper ultricies lacus quam ultricies odio vitae placerat pede sem sit amet enim.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="gel-guided-journey__page d-none" data-gel-asset-id="/asset7">
                          <h2>Resources</h2>
                          <p>Further reading and supporting documents on anti-bullying.
                            <h3>Websites:</h3>
                          </p>
                          <p>Anti-bullying website Bullying. No Way!</p>
                          <p>Kids Helpline</p>
                          <p>Office of the eSafety Commissioner</p>
                          <h3>Policies:</h3>
                          <p>Bullying: Preventing and Responding to Student Bullying in Schools Policy</p>
                          <h3>Templates and guides:</h3>
                          <p><a href="#">Anti-bullying plan template (PDF 121.36 KB)</a></p>
                          <p><a href="#">Anti-bullying guidelines (PDF 60.29 KB)</a></p>
                          <p><a href="#">Anti-bullying interventions in schools - what works? (PDF 4741.34 KB)</a></p>
                        </div>
                        <div class="gel-guided-journey__page d-none" data-gel-asset-id="/asset8">
                          <h2>ThisIsAGuidedJourneyPageWithALongTitle</h2>
                          <p>Example of what a long title looks like in sidebar; It should break mid word.</p>
                        </div>
                      </div>
                      <div class="gel-pagination">
                        <button class="button gel-button gel-button-medium gel-button-secondary gel-button-l-icon gel-pagination__prev" aria-label="Previous Page">Back</button>
                        <button class="button gel-button gel-button-medium gel-button-primary gel-button-r-icon gel-pagination__next" aria-label="Next Page">Next</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </main><!-- end component //-->
    <footer> </footer>
    <hr>
    <h2>Record of change decisions</h2>
    <table> 
      <thead> 
        <tr>
          <th>Change date</th>
          <th>Jira links</th>
          <th>Change details</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <!-- global footer scripts include JQuery-->
    <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
    <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script>
    <script src="../assets/js/constants.js" type="text/javascript"></script>
    <script src="../assets/js/components/guidedJourney.js" type="text/javascript"></script>
    <!-- include any component specific scripts here -->
  </body>
</html>

src/assets/pug/components/guided-journey.pug

//--- Guided Journey ---//
//--- *************** ---//

//- Description goes here 


//--- DOCUMENTATION ---//
//---------------------------------------------------------

include partials/guided-journey-elements.pug
include partials/guided-journey-content.pug

mixin documentation
  | //- Added: 1.0.0
  | @param {string}  src - the source of the iframe content
  | @param {string}  title - the title of the iframe
  | +gel_guided-journey(src, title)



mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel_guided-journey(content, endpoint)
  script.
    var guided_journey_endpoint_matrix = null;
    var loading_message_matrix = "<p>Please wait while page is being generated</p>";
    var error_message_matrix = "<p>There has been a problem , please log a ticket in Zendesk</p>";

    var sampleContent = [ /* { asset_id, label, content } */ ];


  main.gel-main.gel-main--GJ(data-endpoint=endpoint)
    div.container
      div.row.no-gutter

        // - Content Area
        article.col-12.gel-main-content
          div.d-block.gel-block.p-0
            div.container
              div.gel-GJ-container

                // - * unsure about the .no-gutter attribute
                div.row.no-gutter
                  div.col-12.col-md-4.col-lg-3.gel-lhs.gel-GJ-index
                    nav(aria-lable="side navigation").d-none.d-md-block
                      .gel-side-navigation
                        ul.mb-0
                          li.sn_parent.gel-side-navigation-upper
                            a(href="#")
                              | Previous
                              span.sr-only
                                | Page
                              span.gel-icon-chevron-left(aria-hidden="true")
                        ol.sn__guided-journey
                          +gel_guided-journey_side-nav-item(1,9,'#landing', 'Introduction')
                          if !content && !endpoint
                            +gel_guided-journey_side-nav-item(2,9,'#/asset1', 'Form a school term')
                            +gel_guided-journey_side-nav-item(3,9,'#/asset2', 'Engage the school community')
                            +gel_guided-journey_side-nav-item(4,9,'#/asset3', "Develop a 'statement of purpose'")
                            +gel_guided-journey_side-nav-item(5,9,'#/asset4', 'Develop a shared understanding')
                            +gel_guided-journey_side-nav-item(6,9,'#/asset5', 'Develop or revise the school Anti-bullying Plan')
                            +gel_guided-journey_side-nav-item(7,9,'#/asset6', 'Publication and promotion')
                            +gel_guided-journey_side-nav-item(8,9,'#/asset7', 'Resources')
                            +gel_guided-journey_side-nav-item(9,9,'#/asset8', 'ThisIsAGuidedJourneyPageWithALongTitle')

                  div.col-12.col-md-8.col-lg-7
                    h1.gel-GJ-title.mt-0
                      | Anti-bullying guidelines

                    +gel_guided-journey_mobile-nav

                    div.gel-guided-journey__content
                      div.gel-loading.d-none
                      +gel_guided-journey_content_introduction
                      if !content && !endpoint
                        +gel_guided-journey_content_asset_1
                        +gel_guided-journey_content_asset_2
                        +gel_guided-journey_content_asset_3
                        +gel_guided-journey_content_asset_4
                        +gel_guided-journey_content_asset_5
                        +gel_guided-journey_content_asset_6
                        +gel_guided-journey_content_asset_7
                        +gel_guided-journey_content_asset_8

                    +gel_guided-journey_pagination
