dist/components/iframe.html
<!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="common" data-revision="457873e7">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:description" content="Home Page">
    <meta name="doe.security.public" content="yes">
    <meta name="doe.orgunit" content="Teaching and learning">
    <meta name="robots" content="all">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="dcterms.identifier" content="">
    <meta name="dcterms.creator" content="">
    <meta name="dcterms.publisher" content="">
    <meta name="dcterms.rights" content="">
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00">
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00">
    <meta name="dcterms.subject" content="">
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU">
    <meta name="dcterms.format" content="dcterms.IMT; jpeg">
    <meta name="dcterms.type" content="text">
    <meta name="dcterms.audience" scheme="" content="All">
    <meta name="dcterms.coverage" content="Australia">
    <meta name="AGLSTERMS.accessibility" content="W3C">
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified">
    <meta name="AGLSTERMS.function" content="">
    <meta name="dcterms.isPartOf" content="">
    <meta name="dcterms.hasPart" content="">
    <meta name="dcterms.relation" content="">
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome/all.css">
    <link rel="stylesheet" href="../assets/css/vendor/fontawesome-pro/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/core.css?r=457873e7" media="screen">
    <link rel="stylesheet" href="../assets/css/print.css?r=457873e7" media="print">
    <title>Iframe | Division name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head>
  <body>
    <h2>Iframe Video - no caption</h2><!-- start component //-->  
    <div class="gel-script">
      <iframe src="https://player.vimeo.com/video/188598071?color=ffffff&amp;amp;title=0&amp;amp;byline=0&amp;amp;portrait=0" title="NSW Department of Education" style="width:100%; height:500px;" aria-label="NSW Department of Education"></iframe>
    </div><!-- end component //-->
    <h2>Iframe Video - with caption</h2><!-- start component //-->  
    <div class="gel-script">
      <iframe src="https://player.vimeo.com/video/188598071?color=ffffff&amp;amp;title=0&amp;amp;byline=0&amp;amp;portrait=0" title="NSW Department of Education" style="width:100%; height:500px;" aria-label="NSW Department of Education"></iframe>
      <div class="gel-script__iframe--caption">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. 
      </div>
    </div><!-- end component //-->
    <h2>Iframe Video - responsive</h2><!-- start component //-->    
    <div class="gel-script embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Q3YYwIsMHzw?rel=0" title="Earth at Night" allowfullscreen="" aria-label="Earth at Night"></iframe>
      <div class="gel-script__iframe--caption">He lay on his armour like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. 
      </div>
    </div><!-- end component //-->
    <h2>Iframe Map</h2><!-- start component //-->  
    <div class="gel-script">
      <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAuf6h1hiXPt-lQpSZPEgij_eY8bs8cq5M&amp;q=105%20Phillip%20Street,%20Parramatta%20NSW" title="School Map" style="width:100%; height:400px;" aria-label="School Map"></iframe>
      <div class="gel-script__iframe--caption">The bedding was hardly able to cover it and seemed ready to slide off any moment. 
      </div>
    </div><!-- end component //-->
    <h2>Iframe Calendar</h2><!-- start component //-->  
    <div class="gel-script">
      <iframe src="https://www.google.com/calendar/embed?title=&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showTz=0&amp;mode=AGENDA&amp;height=734&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=tweedriverhs%40gmail.com&amp;color=%2329527A&amp;src=pbj7eqb43a5u4tbb5p24rsnqrk%40group.calendar.google.com&amp;color=%2323724d&amp;ctz=Australia%2FSydney" title="School Calendar" style="width:100%; height:650px;" aria-label="School Calendar"></iframe>
      <div class="gel-script__iframe--caption">His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. 
      </div>
    </div><!-- end component //-->
    <h2>Iframe Error Mesage</h2><!-- start component //-->    
    <div class="gel-script">
      <div class="gel-script__iframe--error">
        <p>The iframe you have tried to embed is currently not from an authorised domain.</p>
        <p class="gel-script__iframe--url">https://drive.googles.com/embeddedfolderview?id=1RXY2pxqVnvlWhopzhQu0IEAW02aSwQat#grid</p>
        <p>To discuss the options around adding your content please contact the support team at <a href="mailto:swssupport@detcorpcomms.zendesk.com">swssupport@detcorpcomms.zendesk.com</a>.</p>
      </div>
    </div><!-- end component //-->
    <h2>Freeform Script</h2><!-- start component //-->    
    <div class="gel-script">Insert some code here</div><!-- end component //-->
    <footer> </footer>
    <hr>
    <h2>Record of change decisions</h2>
    <table> 
      <thead> 
        <tr>
          <th>Change date</th>
          <th>Jira links</th>
          <th>Change details</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </body>
</html>

src/assets/pug/components/iframe.pug

//--- Iframe ---//
//--- *************** ---//

//- The HTML Inline Frame element (<iframe>) creates an inline frame, which embeds an independent HTML document (videos, maps) into the current document.


//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | @param {string}  src - the source of the iframe content
  | @param {string}  title - the title of the iframe
  | @param {string}  styles - the styles of the iframe
  | @param {string}  allowcaption - enables display of caption
  | @param {string}  ratio - the display ratio of the iframe 
  | @param {string}  allowfullscreen - enables fullscreen button within the iframe
  | +gel_iframe(src, title, styles, allowcaption, ratio, allowfullscreen)



mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel_iframe(src, title, styles, allowcaption, ratio, allowfullscreen)
  - var responsive = "gel-script"
  if ratio == "21by9"
    - responsive += " embed-responsive embed-responsive-21by9"
  else if ratio == "16by9"
    - responsive += " embed-responsive embed-responsive-16by9"
  else if ratio == "4by3"
    - responsive += " embed-responsive embed-responsive-4by3"
  else if ratio == "1by1"
    - responsive += " embed-responsive embed-responsive-1by1"
  //--NOTE: .embed-responsive-item isn’t strictly required, but encouraged

  div(class=responsive)
    if (ratio === false || ratio === undefined) 
      //-- default case 
      iframe(src=src title=title style=styles aria-label=title)
    else
      iframe.embed-responsive-item(src=src title=title style=styles allowfullscreen="" aria-label=title)
    if (allowcaption === true)
      .gel-script__iframe--caption
        +lipsum(1, "sentences")    

mixin gel_iframe_error

  .gel-script
    .gel-script__iframe--error
      p
        | The iframe you have tried to embed is currently not from an authorised domain.
      p.gel-script__iframe--url
        | https://drive.googles.com/embeddedfolderview?id=1RXY2pxqVnvlWhopzhQu0IEAW02aSwQat#grid
      p
        | To discuss the options around adding your content please contact the support team at 
        a(href="mailto:swssupport@detcorpcomms.zendesk.com") swssupport@detcorpcomms.zendesk.com
        | .

mixin gel_freeform_script

  .gel-script
    | Insert some code here
